*.pyc
openl2m/openl2m/configuration.py
openl2m/openl2m/ldap_config.py
openl2m/static
openl2m/templates/test_page.html
openl2m/project-static/docs/
docs/_build/
gunicorn_config.py
openl2m/lib/manuf/manuf/manuf
.recycle/
venv/
.idea
*.sh
*.swp
.DS_Store
._*
.vscode
scripts/test/
docs/releases/Release-Test-Plan-2.0.ods
docs/releases/.~lock.Release-Test-Plan-2.0.ods#
openl2m.sql
old/
backups/
local_requirements.txt
gen-doc-files.sh
TO_DOs.txt
SCRATCH-PAD.txt
