black
distro
Django>=5.0,<5.1
django-ipware
django-minify-html
django-ordered-model>=3.7,<4.0
# versions post 0.2.5 appear unstable:
easysnmp==0.2.5
flake8
gitpython
gunicorn
hiredis
# used for REST framework testing
httpie
ip_address>=1.0.23
isort
Jinja2
jsonpickle
junos-eznc
jxmlease
lxml
# no longer used due to Wireshark URL problem
# https://github.com/coolbho3k/manuf/issues/34
# local copy in openl2m/lib/manuf/
# manuf
#mypy for typing:
mypy
#various Napalm support libraries:
napalm>=4.1.0
napalm-aruba-cx
napalm-dellos10
napalm-procurve
natsort>=8.4.0
netaddr>=1.2.1
netmiko>=4.3.0
#improved PostGreSQL support
psycopg2-binary
# We are using a clone of the Aruba pyaoscx library from github.com,
# as there always seems to be some fix in there that we need that has
# not been released yet to PyPi! :-(
git+https://github.com/aruba/pyaoscx
#pyaoscx==2.5.1 -> current release (2/2024)
#
# work around compatibility bug with pysnmp=4.4.12 in pyasn1==0.5.0, see
# https://github.com/pyasn1/pyasn1/issues/28
# pyasn1==0.4.8 - see pysnmplib below
#
pycodestyle
# pysnmp (original) is no longer supported.
# we are now using the maintained clone "pysnmplib"
# see https://github.com/pysnmp/pysnmp
pysnmplib
#PyTZ and the type library:
pytz>=2024.1
types-pytz
#tzdata needed for Docker
tzdata
recommonmark
redis
six
Sphinx
sphinx_rtd_theme
textfsm
PyYAML>=6.0
pipenv
XlsxWriter>=3.2

# A REST API framework for Django projects
# https://www.django-rest-framework.org/community/release-notes/
djangorestframework

# Sane and flexible OpenAPI 3 schema generation for Django REST framework.
# https://github.com/tfranzel/drf-spectacular/blob/master/CHANGELOG.rst
drf-spectacular

# Serve self-contained distribution builds of Swagger UI and Redoc with Django.
# https://github.com/tfranzel/drf-spectacular-sidecar
drf-spectacular-sidecar

urllib3>=2.2

# Addition for docker
tzdata
