black
distro
Django>=5.2,<5.3
django-ipware
# django-minify-html
django-ordered-model>=3.7,<4.0
# ezsnmp replaces easysnmp, see https://github.com/carlkidcrypto/ezsnmp
# and docs at https://carlkidcrypto.github.io/ezsnmp/html/index.html
# Tested code v1.1.0 from pypi
# ezsnmp v2 may break as the interface may change. We have not tested this.
# for now, lock to v1.1.0
# See this: https://github.com/carlkidcrypto/ezsnmp/releases
# ezsnmp may not build properly for Ubuntu. If you get SNMP session errors, then run
# pip install --force-reinstall --no-binary :all: ezsnmp==1.1.0
# Note: if you change the version here, also change "upgrade.sh" !
ezsnmp==1.1.0
flake8
flake8-pyproject
gitpython
#fix the WSGI runner:
gunicorn==23.0.0
hiredis
# used for REST framework testing
httpie
ip_address>=1.0.23
isort
Jinja2
jsonpickle
junos-eznc
jxmlease
lxml
# no longer used due to Wireshark URL problem
# https://github.com/coolbho3k/manuf/issues/34
# local copy in openl2m/lib/manuf/
# manuf
#mypy for typing:
mypy
#various Napalm support libraries:
napalm>=5.0,<5.1
napalm-aruba-cx
napalm-dellos10
napalm-procurve
natsort>=8.4.0
netaddr>=1.2.1
netmiko>=4.5,<4.6
#improved PostGreSQL support
psycopg2-binary
# We are using a clone of the Aruba pyaoscx library from github.com,
# as there always seems to be some fix in there that we need that has
# not been released yet to PyPi! :-(
# git+https://github.com/aruba/pyaoscx
#
# Note: pyaoscx on PyPi appears stable now, so use the tested version:
pyaoscx==2.6.0
pycodestyle
# pysnmp (original) is no longer supported.
# see https://lists.openstack.org/pipermail/openstack-discuss/2022-August/030062.html
# we are now using the maintained clone "pysnmp" by Lextudio
# see https://pysnmp.com
pysnmp==7.1.20
#PyTZ and the type library:
pytz>=2024.1
types-pytz
types_requests
#tzdata needed for Docker
tzdata
recommonmark
redis
six
Sphinx
sphinx_rtd_theme
sphinx-design
sphinxcontrib-mermaid
textfsm
PyYAML>=6.0
pipenv
XlsxWriter>=3.2

# A REST API framework for Django projects
# https://www.django-rest-framework.org/community/release-notes/
djangorestframework==3.16.0

# Sane and flexible OpenAPI 3 schema generation for Django REST framework.
# https://github.com/tfranzel/drf-spectacular/blob/master/CHANGELOG.rst
drf-spectacular

# Serve self-contained distribution builds of Swagger UI and Redoc with Django.
# https://github.com/tfranzel/drf-spectacular-sidecar
drf-spectacular-sidecar

urllib3>=2.2

# Addition for docker
tzdata
