celery
distro
Django>=3.2,<3.3
django-debug-toolbar
django-ipware>=2.1.0
django-ordered-model>=3.3,<4.0
easysnmp>=0.2.5
gitpython
gunicorn
hiredis
ip_address>=1.0.23
Jinja2
junos-eznc
jxmlease
lxml
six
napalm
napalm-aruba-cx
napalm-dellos10
napalm-procurve
natsort
netaddr
netmiko>=3.0.0
psycopg2-binary
# We are using a clone of the Aruba pyaoscx library from github.com,
# as there always seems to be some fix in there that we need that has
# not been released yet to ! :-(
git+https://github.com/aruba/pyaoscx
pyasn1
pycodestyle>=2.5.0
pysnmp>=4.4.12
recommonmark>=0.5.0
redis
sphinx>=5
sphinx_rtd_theme
textfsm
pyyaml
pipenv
