{% extends '_base.html' %}

{% block content %}
<div class="row justify-content-md-center" style="margin-top: {% if settings.BANNER_LOGIN %}25{% else %}150{% endif %}px;">
  <div class="col-6">
    {% if settings.BANNER_LOGIN %}
    <div style="margin-bottom: 25px">
        {{ settings.BANNER_LOGIN|safe }}
    </div>
    {% endif %}
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col col-4">
    <form method="post" class="form form-horizontal">
      <div class="card border-default">
        {% csrf_token %}
        <div class="card-body">
          <table class="table table-hover">
            <tbody>
          {{ form.as_table }}
            </tbody>
          </table>
        </div>
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-title="Click here to login!">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
