{% extends '_base.html' %}

{% block content %}
<div class="row justify-content-md-center" style="margin-top: {% if settings.BANNER_LOGIN %}25{% else %}150{% endif %}px;">
  <div class="col-6">
    {% if settings.BANNER_LOGIN %}
    <div style="margin-bottom: 25px">
        {{ settings.BANNER_LOGIN|safe }}
    </div>
    {% endif %}
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col col-4">
    <form method="post" class="form form-horizontal">
      <div class="panel panel-default">
        {% csrf_token %}
        <div class="panel-body">
          {{ form.as_p }}
        </div>
        <div class="panel-footer text-right">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
