{% extends '_base.html' %}

{% block content %}
<div class="row"">
  <div class="col-sm-4 col-sm-offset-4">
    {% if user.ldap_user %}
      <div class="card border-danger">
          <div class="card-header bg-danger"><strong>LDAP password change not allowed!</strong></div>
          <div class="card-body">
              You are authenticated from an LDAP account.
              You cannot change your password here.
              Please go to the appropriate site to change your directory password.
          </div>
      </div>
    {% else %}
      <form action="." method="post" class="form form-horizontal">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="card border-danger">
              <div class="card-header bg-danger"><strong>Errors</strong></div>
              <div class="card-body">
                  {{ form.non_field_errors }}
              </div>
          </div>
        {% endif %}
        <div class="card border-default">
          <div class="card-header bg-default">
              <strong>Change your password</strong>
          </div>
          <div class="card-body">
            {{ form.as_p }}
          </div>
          <div class="card-footer text-right">
            <button type="submit" name="_update" class="btn btn-primary"
                    data-bs-toggle="tooltip" data-bs-title="Click here to change your password!">Update</button>
            {# <a href="{% url 'user:profile' %}" class="btn btn-default">Cancel</a> #}
            <a href="{% url 'switches:groups' %}" class="btn btn-default"
               data-bs-toggle="tooltip" data-bs-title="Click here to cancel changing your password!">Cancel</a>
          </div>
        </div>
      </form>
    {% endif %}
  </div>
</div>
{% endblock %}
