{% extends '_base.html' %}
{% block content %}
<div class="row" style="margin-top: 150px;">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Password Changed!</strong></div>
      <div class="panel-body">
          Your password was successfully changed!
      </div>
    </div>
    <div class="text-right">
      <a href="{% url 'home' %}" class="btn btn-default">Go Back to Switch Menu</a>
    </div>
  </div>
</div>
{% endblock %}
