{% extends '_base.html' %}
{% block content %}
<div class="row">
  <div class="col-4 col-offset-4">
    <div class="card border-default">
      <div class="card-header bg-default"><strong>Password Changed!</strong></div>
      <div class="card-body">Your password was successfully changed!</div>
    </div>
    <div>
      <a href="{% url 'switches:groups' %}" data-bs-toggle="tooltip"
         title="Click here to go back menu!">Go Back to Devices Menu</a>
    </div>
  </div>
</div>
{% endblock %}
