{% extends '_base.html' %}
{% block content %}
<div class="row" style="margin-top: 150px;">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="card border-default">
      <div class="card-header bg-default"><strong>Password Changed!</strong></div>
      <div class="card-body">
          Your password was successfully changed!
      </div>
    </div>
    <div class="text-right">
      <a href="{% url 'switches:groups' %}" class="btn btn-default"
         data-bs-toggle="tooltip" title="Click here to go back menu!">Go Back to Devices Menu</a>
    </div>
  </div>
</div>
{% endblock %}
