{% extends '_base.html' %}

{% block content %}
<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-header bg-danger">
        <strong><i class="fa-solid fa-exclamation-triangle" aria-hidden="true"></i> Method not allowed on this page!</strong>
      </div>
      <div class="card-body">
        {{ request.method }} method is not supported by this page!<br />Why are you here?
      </div>
      <div class="card-footer text-right">
        <a href="{% url 'home' %}" class="btn btn-primary" data-bs-toggle="tooltip" title="Click here to go back to the Devices Menu!">To Menu Page</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
