{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Server Error (error code 500)</title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-7.0.0/css/all.css' %}">
    <meta charset="UTF-8">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="card border-danger" style="margin-top: 200px">
          <div class="card-header bg-danger-subtle">
            <strong>Internal Server Error (500)</strong>
          </div>
          <div class="card-body">
            <p> Something bad happened! Please contact the site administrator.</p>
            <hr />
            <p>The error details are:</p>
            <pre>
              <strong>{{ exception }}</strong><br />
              {{ error }}
            </pre>
          </div>
          <div class="card-footer text-right">
            <a href="{% url 'home' %}" class="btn btn-primary" data-bs-toggle="tooltip" title="Click here to go back to the Devices Menu!">To Menu Page</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'bootstrap-5.3.7-dist/js/bootstrap.bundle.js' %}"></script>
</body>

</html>
