{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="{{ request.user.profile.theme }}">
<head>
    <title>OpenL2M - {% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'materialdesignicons-6.7.96/css/materialdesignicons.min.css' %}">
    {# also change FontAwesome in neighbor_mermaid-graphic.html, and docs/conf.py ! #}
    <link rel="stylesheet" href="{% static 'fontawesome-6.7.2/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/openl2m.ico' %}" title="OpenL2M icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="hostname" content="{{ settings.HOSTNAME }}">
    <style>
      td.color_if_up {
        background: {{ settings.BGCOLOR_IF_ADMIN_UP_UP }} !important;
      }
      td.color_if_down {
        background: {{ settings.BGCOLOR_IF_ADMIN_UP }} !important;
      }
      td.color_if_shutdown {
        background: {{ settings.BGCOLOR_IF_ADMIN_DOWN }} !important;
      }
      .color-openl2m {
        color: #ff9300 !important;
      }
      .color-bg-openl2m {
        background-color: #ff9300 !important;
      }
    </style>
</head>
<body>
  <!-- top navigation bar -->
  <div class="container-fluid position-absolute top-0 start-0">
  {% include '_navbar.html' %}
  </div>
  <!-- end navbar -->
  <!-- we need Javascript -->
  <noscript>
    <div class="alert alert-danger text-center" role="alert">
      <i class="fa-solid fa-triangle-exclamation"></i>
      You have disabled Javascript. OpenL2M requires it for proper functionality. Please enable Javascript.
      <i class="fa-solid fa-triangle-exclamation"></i>
    </div>
  </noscript>
  <!-- attempt only permit one tab or window on the client browser
       from https://stackoverflow.com/questions/11008177/stop-people-having-my-website-loaded-on-multiple-tabs
  -->
  <script>
    //in entry point of your app (index.js)

    const channel = new BroadcastChannel('openl2m_tab');

    channel.postMessage('new-tab');
    // note that listener is added after posting the message

    channel.addEventListener('message', (msg) => {
      if (msg.data === 'new-tab') {
        // message received from 2nd tab
        alert('OpenL2M cannot be opened in multiple tabs or windows! Please close this new window or tab!');
      }
    });
  </script>
  <!-- various banners -->
  <div class="container-fluid">

    {% if settings.BANNER_TOP %}
      <!-- top banner -->
      <div class="alert alert-info text-center" role="alert">
      {{ settings.BANNER_TOP|safe }}
      </div>
      <!-- end top banner -->
    {% endif %}

    {% if settings.MAINTENANCE_MODE %}
    <!-- maintenance banner -->
      <div class="alert alert-warning text-center" role="alert">
        <h4><i class="fa-solid fa-exclamation"></i> Maintenance Mode</h4>
        <p>OpenL2M is currently in maintenance mode. Functionality may be limited.</p>
      </div>
    <!-- end maintenance -->
    {% endif %}

    <!-- messages banners -->
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} text-center" role="alert">
        {% if "info" in message.tags %}
          <i class="fa-solid fa-info"></i>
        {% elif "success" in message.tags %}
          <i class="fa-solid fa-check"></i>
        {% elif "warning" in message.tags %}
          <i class="fa-solid fa-exclamation"></i>
        {% elif "error" in message.tags %}
          <i class="fa-solid fa-times"></i>
        {% elif "debug" in message.tags %}
          <i class="fa-solid fa-bug"></i>
        {% else %}{# should not happen #}
          <i class="fa-solid fa-question"></i>
        {% endif %}
        &nbsp;<bold>{{ message }}</bold>
      </div>
    {% endfor %}
    <!-- end messages -->
  </div>
  <!-- end banners -->

  <!-- header block -->
  <div class="container-fluid">
  {% block header %}{% endblock %}
  </div>
  <!-- end header block -->

  <!-- content block -->
  <div class="container-fluid">
  {% block content %}{% endblock %}
  </div>
  <!-- end content block -->

  {% if settings.BANNER_BOTTOM %}
  <!-- bottom banner -->
  <div class="container-fluid">
    <div class="alert alert-info text-center mt-2" role="alert">
      {{ settings.BANNER_BOTTOM|safe }}
    </div>
  </div>
  <!-- end bottom banner -->
  {% endif %}

  {% block javascript %}{% endblock %}
  <script src="{% static 'bootstrap-5.3.3-dist/js/bootstrap.bundle.js' %}"></script>
  <script>
    // New Bootstrap 5 tooltip activation:
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl, {trigger : 'hover'});
    });
    function confirm_change(s) {
       return confirm(s);
    }
  </script>
</body>
</html>
