{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>OpenL2M - {% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'materialdesignicons-6.7.96/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-5.15.4/css/all.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'jquery-ui-1.13.2/jquery-ui.css' %}"> -->
    <link rel="stylesheet" href="{% static 'select2-4.0.13/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'select2-bootstrap-0.1.0-beta.10/select2-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'flatpickr-4.6.3/themes/light.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/openl2m.ico' %}" title="OpenL2M icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="position-absolute top-0 start-0">
  {% include '_menu.html' %}
  <div class="container-fluid">
    {% if settings.BANNER_TOP %}
        <div class="alert alert-info text-center" role="alert">
            {{ settings.BANNER_TOP|safe }}
        </div>
    {% endif %}
    {% if settings.MAINTENANCE_MODE %}
        <div class="alert alert-warning text-center" role="alert">
            <h4><i class="fas fa-exclamation-triangle"></i> Maintenance Mode</h4>
            <p>OpenL2M is currently in maintenance mode. Functionality may be limited.</p>
        </div>
    {% endif %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} text-center" role="alert">
            <i class="fas fa-exclamation-triangle"></i>&nbsp;<bold>{{ message }}</bold>&nbsp;<i class="fas fa-exclamation-triangle"></i>
        </div>
    {% endfor %}
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    <div class="push"></div>
    {% if settings.BANNER_BOTTOM %}
      <div class="alert alert-info text-center banner-bottom" role="alert">
        {{ settings.BANNER_BOTTOM|safe }}
      </div>
    {% endif %}
  </div>
</div>
  <script type="text/javascript" src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
  <!-- <script type="text/javascript" src="{% static 'jquery-ui-1.13.2/jquery-ui.min.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'bootstrap-5.3.3-dist/js/bootstrap.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'select2-4.0.13/dist/js/select2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'clipboard.js/clipboard-2.0.4.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'flatpickr-4.6.3/flatpickr.min.js' %}"></script>
  <!--
  <script type="text/javascript" src="{% static 'js/forms.js' %}"></script>
  -->
  {% block javascript %}{% endblock %}
  <style>
  /* Tooltip */
  .tooltip > .tooltip-inner {
    background-color: #3399FF;
    color: #FFFFFF;
    border: 1px solid green;
    padding: 1px;
    font-size: 14px;
  }
  </style>
  <script>
    function confirm_change(s) {
       return confirm(s);
    }
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</body>
</html>
