{% load static %}
<nav class="navbar navbar-expand-xl">
  <div class="container-fluid">
    <a class="navbar-brand"
       href="{% url 'switches:groups' %}"
    {% if connection.save_needed %}
       onclick="return confirm_change('There are UNSAVED changes, are you sure?')"
    {% endif %}
    >
      <img src="{% static 'img/openl2m-logo.png' %}"
           data-bs-toggle="tooltip"
           data-bs-title="Go back to Devices Menu"
           alt="OpenL2M logo"
      />
    </a>
    {% if request.user.is_authenticated %}
    <div class="position-absolute end-0" id="navbarContent">
      <ul class="navbar-nav me-auto">
      {% if settings.MENU_INFO_URLS %}
        {% for headername,menus in settings.MENU_INFO_URLS.items %}
        <li class="nav-item dropdown">
<!--          <ul class="nav navbar-nav
          {% if settings.MENU_ON_RIGHT %}
            navbar-right
          {% endif %}
          "> -->
          <a class="nav-link dropdown-toggle" href="#" id="navbarMenu{{ forloop.counter }}" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" data-bs-toggle="tooltip" data-bs-title="Your menu options!">{{ headername }}</a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarMenu{{ forloop.counter }}">
          {% for menu in menus %}
            <li><a class="dropdown-item" href="{{ menu.url }}"
            {% if menu.target %}
                target="{{ menu.target }}"
            {% endif %}
            {% if menu.hint %}
                data-bs-toggle="tooltip" data-bs-title="{{ menu.hint }}"
            {% endif %}
            >
            {% if menu.fa_icon %}
              <i class="fas {{ menu.fa_icon }} aria-hidden="true"></i>
            {% elif menu.icon %}
              <img src="{{ menu.icon }}"
              {% if menu.alt %}
                alt="{{ menu.alt }}"
              {% endif %}
              >
            {% endif %}
            {{ menu.name }}</a></li>
          {% endfor %}
          </ul>
      {% endfor %}
        </li>
      {% endif %}{# end MENU_INFO_URLS #}

        {# user menu #}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-bs-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false" data-bs-toggle="tooltip" data-bs-title="Your menu options!">
            {{ request.user|truncatechars:"30" }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarUserDropdown">
            <li><a class="dropdown-item" href="{% url 'switches:groups' %}"><i class="fas fa-ethernet"></i> Home</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% static 'docs/html/what_is_new.html' %}" target="_docs"><i class="fas fa-star" aria-hidden="true"></i> What&apos;s New!</a></li>
            <li><a class="dropdown-item" href="{% static 'docs/html/using/index.html' %}" target="_docs"><i class="fas fa-book" aria-hidden="true"></i> Documentation</a></li>
            {% if request.user.is_superuser %}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'admin:index' %}"><i class="fas fa-pen"></i> Administration</a></li>
              {% if switch %}
              <li><a class="dropdown-item" href="{% url 'admin:switches_switch_change' switch.id %}">&nbsp;&nbsp;&nbsp;<i class="fas fa-pencil-alt"></i> This Device</a></li>
              {% endif %}
              {% if group %}
              <li><a class="dropdown-item" href="{% url 'admin:switches_switchgroup_change' group.id %}">&nbsp;&nbsp;&nbsp;<i class="fas fa-pencil-alt"></i> This Group</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'switches:admin_activity' %}"><i class="fas fa-list-ul" aria-hidden="true"></i> Activity Logs</a></li>
            {% elif request.user.is_staff %}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'switches:admin_activity' %}"><i class="fas fa-list-ul" aria-hidden="true"></i> Activity Logs</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="{% url 'switches:show_stats' %}"><i class="fas fa-chart-pie" aria-hidden="true"></i> Usage Statistics</a></li>
            <li><a class="dropdown-item" href="https://github.com/openl2m/openl2m/" target="_sources"><i class="fas fa-code" aria-hidden="true"></i> Code</a></li>
            <li><hr class="dropdown-divider"></li>
            {% if not request.user.ldap_user %}
            <li><a class="dropdown-item" href="{% url 'password_change' %}"><i class="fas fa-key"></i> Change Password</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="{% url 'users:profile' %}"><i class="fas fa-user-circle"></i> Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'users:token_list' %}"><i class="fas fa-user-secret"></i> API Tokens</a></li>
            <li> <hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" ><i class="fas fa-info" aria-hidden="true"></i> OpenL2M v{{ settings.VERSION }}</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Log out</a></li>
          </ul>
        </li>
      </ul>{# navbar-nav #}
    </div>{# navbarContent #}
    {% endif %}{# authenticated #}
  </div>{# container-fluid #}
</nav>
