{% load static %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"
                href="/switches/"
            {% if connection.save_needed %}
                onclick="return confirm_change('There are UNSAVED changes, are you sure?')"
            {% endif %}
            >
                <img src="{% static 'img/openl2m-logo.png' %}"
                     data-toggle="tooltip"
                     data-placement="bottom"
                     title="Go back to Switch Group Menu"
                 />
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          {% if request.user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{{ request.user }}" role="button" aria-haspopup="true" aria-expanded="false">
                      <span data-toggle="tooltip" data-placement="bottom" title="Your menu options!">
                        <i class="fas fa-user"></i>
                        <span id="navbar_user">{{ request.user|truncatechars:"30" }}</span>
                        <span class="caret"></span>
                      </span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'home' %}"><i class="fas fa-ethernet"></i> Home</a></li>
                    {% if request.user.profile.tasks or request.user.is_superuser %}
                    <li><a href="{% url 'switches:tasks' %}"><i class="fas fa-calendar-alt" aria-hidden="true"></i> Scheduled Tasks</a></li>
                    {% endif %}
                    <li><a href="{% static 'docs/html/using/index.html' %}" target="_docs"><i class="fas fa-book" aria-hidden="true"></i> Documentation</a></li>
                    {% if request.user.is_superuser %}
                      <li class="divider"></li>
                      <li><a href="{% url 'admin:index' %}"><i class="fas fa-pen"></i> Administration</a></li>
                      <li><a href="{% url 'switches:admin_activity' %}"><i class="fas fa-list-ul" aria-hidden="true"></i> Activity Logs</a></li>
                    {% elif request.user.is_staff %}
                      <li class="divider"></li>
                      <li><a href="{% url 'switches:admin_activity' %}"><i class="fas fa-list-ul" aria-hidden="true"></i> Activity Logs</a></li>
                    {% endif %}
                    <li><a href="{% url 'switches:show_stats' %}"><i class="fas fa-chart-pie" aria-hidden="true"></i> Usage Statistics</a></li>
                    <li><a href="https://github.com/openl2m/openl2m/" target="_sources"><i class="fas fa-code" aria-hidden="true"></i> Code</a></li>
                    <li class="divider"></li>
                    {% if not request.user.ldap_user %}
                    <li><a href="{% url 'password_change' %}"><i class="fas fa-key"></i> Change Password</a></li>
                    {% endif %}
                    <li><a href="{% url 'users:profile' %}"><i class="fas fa-user-circle"></i> Profile</a></li>
                    <li class="divider"></li>
                    <li><a><i class="fas fa-info" aria-hidden="true"></i> OpenL2M v{{ settings.VERSION }}</a></li>
                    <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Log out</a></li>
                  </ul>
              </li>
            </ul>
            {% if settings.MENU_INFO_URLS %}
              {% for headername,menus in settings.MENU_INFO_URLS.items %}
                <ul class="nav navbar-nav
                {% if settings.MENU_ON_RIGHT %}
                  navbar-right
                {% endif %}
                ">
                  <li class="dropdown active">
                    <ul class="nav navbar-nav">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ headername }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        {% for menu in menus %}
                          <li>
                            <a href="{{ menu.url }}"
                            {% if menu.target %}
                              target="{{ menu.target }}"
                            {% endif %}
                            {% if menu.hint %}
                              data-toggle="tooltip"
                              title="{{ menu.hint }}"
                            {% endif %}
                            >
                            {% if menu.fa_icon %}
                              <i class="fas {{ menu.fa_icon }} aria-hidden="true"></i>
                            {% elif menu.icon %}
                              <img src="{{ menu.icon }}"
                              {% if menu.alt %}
                                alt="{{ menu.alt }}"
                              {% endif %}
                              >
                            {% endif %}
                            {{ menu.name }}</a>
                          </li>
                        {% endfor %}
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              {% endfor %}
            {% endif %}

          {% endif %}{# authenticated #}

        </div>
    </div>
</nav>
