{% load static %}
<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
<!-- <h1 class="navbar-brand pb-0"> -->
{% if request.user.is_authenticated and not is_top_menu %}
      <form class="navbar-brand pb-0 mb-0"
        action="{% url 'switches:groups' %}"
        method="post"
      {% if connection.save_needed %}
        onclick="return confirm_change('There are UNSAVED changes, are you sure?')"
      {% endif %}
      >
        {% csrf_token %}
        <input type="image" src="{% static 'img/openl2m-logo.png' %}"
            data-bs-toggle="tooltip"
            data-bs-title="Go back to Devices Menu"
            alt="OpenL2M logo"
        >
      </form>
{% else %}
    <img src="{% static 'img/openl2m-logo.png' %}" alt="OpenL2M logo">
{% endif %}
<!-- </h1> -->

{% if request.user.is_authenticated %}

  {% if settings.SWITCH_SEARCH_FORM %}
    <div class="navbar-collapse ms-4">
      <form class="d-flex"
            name="switch_search_form"
            action="{% url 'switches:switch_search' %}"
            method="post"
      >
        <div class="input-group border border-light-subtle rounded">
          {% csrf_token %}
          <input type="text" name="switchname" id="switchname"
                class="form-control border border-light-subtle rounded"
                placeholder="Device name or reg-ex..."
                data-bs-toggle="tooltip"
                title="Type the name or regular expression of the device(s) you are looking for here!"
                onkeyup="validateSearch()">
          <button type="submit" name="search_submit" id="search_submit" disabled
                value="Search"
                class="btn color-openl2m"
                data-bs-toggle="tooltip"
                title="Click here to search for a device!"
          ><i class="fa-solid fa-search"></i></button>
        </div>
      </form>
      <script>
        function validateSearch() {
          const submitButton = document.getElementById('search_submit');
          if (document.getElementById('switchname').value.trim() !== "") {
            submitButton.disabled = false   // Input changes, enable the search button
          } else {
            submitButton.disabled = true    // No changes from original, disable the search button
          }
        }
      </script>
    </div>
  {% endif %}

    <div class="position-absolute end-0" id="navbarContent">
      <ul class="navbar-nav me-auto">
      {% if settings.MENU_INFO_URLS %}
        {% for headername,menus in settings.MENU_INFO_URLS.items %}
        <li class="nav-item dropdown">
<!--          <ul class="nav navbar-nav
          {% if settings.MENU_ON_RIGHT %}
            navbar-right
          {% endif %}
          "> -->
          <a class="nav-link dropdown-toggle" href="#" id="navbarMenu{{ forloop.counter }}" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">{{ headername }}</a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarMenu{{ forloop.counter }}">
          {% for menu in menus %}
            <li><a class="dropdown-item" href="{{ menu.url }}"
            {% if menu.target %}
                target="{{ menu.target }}"
            {% endif %}
            {% if menu.hint %}
                data-bs-toggle="tooltip" data-bs-title="{{ menu.hint }}"
            {% endif %}
            >
            {% if menu.fa_icon %}
              <i class="fa-solid {{ menu.fa_icon }} aria-hidden="true"></i>
            {% elif menu.icon %}
              <img src="{{ menu.icon }}"
              {% if menu.alt %}
                alt="{{ menu.alt }}"
              {% endif %}
              >
            {% endif %}
            {{ menu.name }}</a></li>
          {% endfor %}
          </ul>
      {% endfor %}
        </li>
      {% endif %}{# end MENU_INFO_URLS #}

        {# user menu #}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ request.user|truncatechars:"30" }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarUserDropdown">
            <li><a class="dropdown-item" href="{% url 'switches:groups' %}"><i class="fa-solid fa-ethernet"></i> Home</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% static 'docs/html/what_is_new.html' %}" target="_blank"><i class="fa-solid fa-star" aria-hidden="true"></i> What&apos;s New!</a></li>
            <li><a class="dropdown-item" href="{% static 'docs/html/using/index.html' %}" target="_blank"><i class="fa-solid fa-book" aria-hidden="true"></i> Documentation</a></li>
            {% if request.user.is_superuser %}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'admin:index' %}"><i class="fa-solid fa-pen"></i> Administration</a></li>
              {% if switch %}
              <li><a class="dropdown-item" href="{% url 'admin:switches_switch_change' switch.id %}">&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-ethernet"></i> This Device</a></li>
              {% endif %}
              {% if group %}
              <li><a class="dropdown-item" href="{% url 'admin:switches_switchgroup_change' group.id %}">&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-user-friends"></i> This Group</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'switches:admin_activity' %}"><i class="fa-solid fa-list-ul" aria-hidden="true"></i> Activity Logs</a></li>
            {% elif request.user.is_staff %}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'switches:admin_activity' %}"><i class="fa-solid fa-list-ul" aria-hidden="true"></i> Activity Logs</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="{% url 'switches:show_stats' %}"><i class="fa-solid fa-chart-pie" aria-hidden="true"></i> Usage Statistics</a></li>
            {% if settings.TOP_ACTIVITY %}
            <li><a class="dropdown-item" href="{% url 'switches:show_top' %}"><i class="fa-solid fa-mountain" aria-hidden="true"></i> Top Usage</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="https://github.com/openl2m/openl2m/" target="_blank"><i class="fa-solid fa-code" aria-hidden="true"></i> Code</a></li>
            <li><hr class="dropdown-divider"></li>
            {% if not request.user.ldap_user %}
            <li><a class="dropdown-item" href="{% url 'password_change' %}"><i class="fa-solid fa-key"></i> Change Password</a></li>
            {% endif %}
            <!-- Choose theme menu, only on top level menu page -->
            {% if request.path == '/switches/' %}
              {% if request.user.profile.theme == 'light' %}
                <li><a class="dropdown-item" href="{% url 'users:theme' 'dark' %}"><i class="fa-solid fa-clone"></i> Set Dark Mode</a></li>
              {% else %}
                <li><a class="dropdown-item" href="{% url 'users:theme' 'light' %}"><i class="far fa-clone"></i> Set Light Mode</a></li>
              {% endif %}
            {% endif %}
            <!-- End Theme menu -->
            <li><a class="dropdown-item" href="{% url 'users:token_list' %}"><i class="fa-solid fa-user-secret"></i> API Tokens</a></li>
            <li><a class="dropdown-item" href="{% url 'users:profile' %}"><i class="fa-solid fa-user-circle"></i> Profile</a></li>
            <li> <hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" ><i class="fa-solid fa-info" aria-hidden="true"></i> OpenL2M v{{ settings.VERSION }}</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fa-solid fa-sign-out-alt"></i> Log out</a></li>
          </ul>
        </li>
      </ul>{# navbar-nav #}
    </div>{# navbarContent #}
{% endif %}{# authenticated #}
  </div>{# container-fluid #}
</nav>
