{% load helpers %}
{% load static %}

{# this builds a basic flowchart: https://mermaid.js.org/syntax/examples.html#basic-flowchart #}
{# test at https://mermaid.live #}
<script>
  document.getElementById('openGraphButton').addEventListener('click', function() {
    // Open a new window
    const newWindow = window.open("", "_blank", "width=1200,height=800");

    const htmlText = `
<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'fontawesome-6.7.2/css/all.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/openl2m.ico' %}" title="OpenL2M icon">
    <title>'{{ switch }}' Neighbor Graph</title>
  </head>
  <body>
    <pre class="mermaid">
{{ connection|get_neighbor_mermaid_graph }}
    </pre>
    <h5>Generated for '{{ request.user.username }}' on {% now "Y-m-d H:i:s" %}</h5>
  </body>
</html>
`;

    // write the HTML content to the new window
    newWindow.document.write(htmlText);

    // add the mermaid script source to it
    var mermaid = document.createElement('script');
    mermaid.async = true;
    mermaid.setAttribute('type', 'module');
    mermaid.setAttribute('src', 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs');
    newWindow.document.head.appendChild(mermaid)

    // and initialize mermaid - does not seem to be needed ?
    //var mermaid_init = document.createElement('script');
    //mermaid_init.setAttribute('type', 'text/javascript');
    //mermaid_init.setAttribute('src', "mermaid.initialize({ startOnLoad: true, theme: 'dark'})");
    //newWindow.document.head.appendChild(mermaid_init)

    // close document to let the window load
    newWindow.document.close();
    });
</script>