{% load helpers %}

<div class="paginator pull-left text-right">
  {% if paginator.num_pages > 1 %}
    <nav aria-label="Log entries page navigation">
      <ul class="pagination pull-left">
      {% if page.has_previous %}
        {% if page.number > 1 %}
        <li class="page-item">
          <a href="{% querystring request page=1 %}"
             class="page-link"
             data-bs-toggle="tooltip"
             title="Go to First page">
            Pg.1
          </a>
        </li>
        {% endif %}
        {% if page.number > 2 %}
        <li class="page-item">
          <a href="{% querystring request page=page.previous_page_number %}"
             class="page-link"
             data-bs-toggle="tooltip"
             title="Go to Previous page"
             aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}
      {% endif %}
        <li  class="page-item active">
          <a data-bs-toggle="tooltip"
             class="page-link"
             title="Current page">
          Page {{ page.number }}
          </a>
        </li>
      {% if page.has_next %}
        {% if page.number < page.paginator.num_pages|add:-1 %}
        <li class="page-item">
          <a href="{% querystring request page=page.next_page_number %}"
             class="page-link"
             data-bs-toggle="tooltip"
             title="Go to Next page"
             aria-label="Next">
             <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
        {% if page.number < page.paginator.num_pages %}
        <li class="page-item">
          <a href="{% querystring request page=page.paginator.num_pages %}"
             class="page-link"
             data-bs-toggle="tooltip"
             title="Go to Last page">
            Pg.{{ page.paginator.num_pages }}
          </a>
        </li>
        {% endif %}
      {% endif %}
      </ul>
    </nav>
  {% endif %}
</div>
{% if page %}
  <div class="text-right text-muted">
    Showing {{ page.start_index }}-{{ page.end_index }} of {{ page.paginator.count }}
  </div>
{% endif %}
