{% load helpers %}
{% if settings.SWITCH_SEARCH_FORM %}
  {% if groups_count > 0 %}
    <label for="switchname"><h5>Search for device:</h5></label>
    <form name="switch_search_form"
          action="{% url 'switches:switch_search' %}"
          method="post"
          >
      {% csrf_token %}
      <input type="text" size=40 name="switchname" id="switchname"
             placeholder="device name or reg-ex here..."
             data-bs-toggle="tooltip"
             title="Type the name or regular expression of the device(s) you are looking for here!"
             data-original-title="Type the name or regular expression of the device(s) you are looking for here!"
      >
      </label>
      <input type="submit"
             value="Search"
             class="btn btn-primary"
             data-bs-toggle="tooltip" title="Click here to search for a device!"
      >
    </form>
  {% endif %}
{% endif %}
