<div class="panel-group">
  {% if cmd.error_descr %}
  <div class="panel panel-danger">
    <div class="panel-heading">
      <strong>An Error Has Occured</strong>
    </div>
    <div class="panel-body">
      <div>{{ cmd.error_descr }}</div>
      {% if cmd.error_details %}
        <div>
          <a data-toggle="collapse" href="#details" aria-expanded="false" aria-controls="details">Click to see details</a>
        </div>
        <div id="details" class="collapse">
          <pre>
          {{ cmd.error_details }}
          </pre>
        </div>
      {% endif %}
    </div>
  </div>
  {% endif %}

  <div class="panel panel-default">
    <div class="panel-heading"><strong>Command: </strong>{{ cmd.command }}</div>
    {% if cmd.output %}
      <div class="panel-body">
        <div><pre>{{ cmd.output }}</pre></div>
      </div>
    {% endif %}
  </div>
</div>
