{% load helpers %}
{% load static %}

<div class="card border-default mb-2">
  <div class="card-header bg-default">
    <strong>Power over Ethernet Info</strong>
  </div>
  <div class="card-body">
  {% if connection.poe_capable %}
    <div class="row p-1">
      <div class="col-2"><strong>Total:</strong></div>
      <div class="col">{{ connection.poe_max_power }} Watts Available, {{ connection.poe_power_consumed }} W ({{ connection.poe_power_consumed|as_percentage_of:connection.poe_max_power }}) Used</div>
    </div>
    {% for pse_index, pse in connection.poe_pse_devices.items %}
      <div class="row p-1{% cycle '' ' bg-light' %}">
        <div class="col-2"><strong>PSE #{{ pse_index }}:</strong></div>
        <div class="col">{{ pse.status|get_poe_pse_status }},
          Max {{ pse.max_power }} Watts, Using {{ pse.power_consumed }} W ({{ pse.power_consumed|as_percentage_of:pse.max_power }}), Threshold = {{ pse.threshold }}%.
          {% if pse.description %}<br />{{ pse.description}}{% endif %}
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div>Not found.</div>
  {% endif %}
  </div>
</div>
