{% load helpers %}
{% load static %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>General Information</strong>
    </div>
    <div class="panel-body">
      {% for category,values in connection.more_info.items %}
        <table class="table table-striped w-auto">
          <thead>
            <tr><th colspan="2">{{ category }}</th></tr>
          </thead>
          <tbody>
          {% for name,value in values.items %}
            <tr>
              <td>{{ name }}</td>
              <td>{{ value }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endfor%}
    </div>
  </div>

  {% if tasks %}
  <div class="panel {% if task_process_running %}panel-default{% else %}panel-warning{% endif %}">
    <div class="panel-heading">
      <strong>Scheduled Tasks{% if not task_process_running %} - Task process is not running! <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>{% endif %}</strong>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Scheduled at</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
          <tr>
            <td>
              {% if task_process_running and allow_tasks %}
                <a href="{% url 'switches:task_delete' task.id %}"
                   data-toggle="tooltip"
                   title="Click here to delete this scheduled task..."
                {% if request.user.profile.are_you_sure %}
                   onclick="return confirm_change('Are you sure you want to DELETE this task?')"
                {% endif %}
                   >
                   <i class="fas fa-trash" aria-hidden="true"></i>
                </a>
              {% endif %}
              {{ task.eta }}
            </td>
            <td>
              <a href="{% url 'switches:task_details' task.id %}"
                 data-toggle="tooltip"
                 title="Click here to show the details of this scheduled task...">
                 {{ task.description }}
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% if connection.syslog_msgs.items %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Recent Syslog Entries ({{ connection.syslog_max_msgs }} max)</strong>
    </div>
    <div class="panel-body">
        <table class="table table-striped w-auto">
          <thead>
            <tr><th>Approx. Time</th><th>Message</th></tr>
          </thead>
          <tbody>
          {% for index,msg in connection.syslog_msgs.items %}
            <tr>
              <td>{{ msg.datetime|date:"SHORT_DATETIME_FORMAT" }}</td>
              <td>{{ msg.message }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
  {% endif %}


  {% if connection.stack_members.items %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Device/Stacking Info</strong>
    </div>
    <div class="panel-body">
      {% for dev_id,dev in connection.stack_members.items %}
        <div>ID {{ dev_id }} - {{ dev|get_device_class }}
          {% if dev.model %}
            , model no. {{ dev.model }}
          {% endif %}
          {% if dev.serial %}
            , serial no. {{ dev.serial }}
          {% endif %}
          {% if dev.version %}
            , software rev. {{ dev.version }}
          {% endif %}
        </div>
      {% endfor%}
    </div>
  </div>
  {% endif %}
