<div class="panel panel-default">
  <div class="panel-heading">
    <strong>{{ log_title }}</strong>
    {% if logs_link %}
      &nbsp;&nbsp;
      <a href="{% url 'switches:switch_activity' group.id switch.id %}"
        data-toggle="tooltip"
        title="Click here to see all switch activity logs">
      <i class="fas fa-list-ul" aria-hidden="true"></i> All Actity Logs
      </a>
    {% endif %}
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-headings">
      <tr><th>When</th><th>Type</th><th>Activity</th><th>IP</th><th>User</th><th>Switch</th><th>Description</th></tr>
      {% for l in logs %}
        <tr>
          <td>{{ l.timestamp }}</td>
          <td>{{ l.get_type_display }}</td>
          <td>{{ l.get_action_display }}</td>
          <td>{{ l.ip_address }}</td>
          {% if request.user.is_superuser and l.user %}
          <td><a href="{% url 'users:info' l.user.id %}"
             data-toggle="tooltip"
             title="Click here to see info on this user...">
             {{ l.user }}
          </a></td>
          {% else %}
          <td>{{ l.user }}</td>
          {% endif %}
          <td>
            {% if l.switch and request.user.is_superuser and l.group %}
              <a href="{% url 'switches:switch_basics' l.group.id l.switch.id %}"
                 data-toggle="tooltip"
                 title="Click here to go to this switch...">
                 {{ l.switch }}
              </a>
            {% else %}
              {{ l.switch }}
            {% endif %}
          </td>
          <td>{{ l.description }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
