{% load helpers %}
{% load static %}

{% if connection.vrfs %}
<div class="card border-default mb-2">
  <div class="card-header bg-default">
    <strong>VRFs</strong>
  </div>
  <div class="card-body">
    <div class="fw-bold border-bottom pb-1 mb-1 row">
      <div class="col-2">Name</div>
      <div class="col-2">RD</div>
      <div class="col-2">Proto</div>
      <div class="col-3">Interfaces</div>
      <div class="col">Description</div>
    </div>
    {% for name,vrf in connection.vrfs.items %}
      <div class="row p-1{% cycle '' ' bg-light' %}">
        <div class="col-2">{{ name }}</div>
        <div class="col-2">{{ vrf.rd }}</div>
        <div class="col-1">
          {% if vrf.ipv4 %}IPv4{% endif %}
          {% if vrf.ipv6 %}IPv6{% endif %}
        </div>
        <div class="col-3">{% for name in vrf.interfaces %}{{ name }}<br />{% endfor %}</div>
        <div class="col">{{ vrf.description }}</div>
      </div>
    {% endfor%}
  </div>
</div>
{% endif %}{# connection.vrfs #}