{% load helpers %}
{% load static %}
<div class="panel-group">

<div class="row">
<div class="col-md-4">

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Vlans defined (GVRP
        {% if connection.system.gvrp_enabled %}
          Enabled
        {% else %}
          disabled
        {% endif %}
        )</strong>
    </div>
    <div class="panel-body">
      {% for vlanid,vlan in connection.vlans.items %}
        {% if vlan.type == VLAN_TYPE_NORMAL %}
          <div>{{ vlan|get_vlan_info_links }} {{ vlanid }}{% if vlan.name %} - {{ vlan.name }} {% endif %}
          {% if vlan.status == VLAN_STATUS_DYNAMIC %}
            {# <i class="fas fa-cloud-download" aria-hidden="true"></i> #}
            <img src="{% static 'img/mvrp.png' %}"
                 alt="MVRP/GVRP Image"
                 data-toggle="tooltip"
                 title="Vlan learned via MVRP or GVRP">
          {% endif %}
          </div>
        {% endif %}
      {% endfor%}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Device IPv4 Addresses</strong>
    </div>
    <div class="panel-body">
    {% for if_index,iface in connection.interfaces.items %}
      {% if iface.addresses_ip4 %}
        {% for ip,addr in iface.addresses_ip4.items %}
          <div>{{ connection.switch|get_interface_info_links:iface }} {{iface.name}}: {{ addr.ip|get_ip4_info_links }} {{ addr.ip }} / {{ addr.netmask }}</div>
        {% endfor %}
      {% endif %}
    {% endfor %}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><strong>Power over Ethernet Info</strong></div>
    <div class="panel-body">
      {% if 1 or connection.system.poe_apable %}
        <div><strong>Total:</strong> {{ connection.system.poe_max_power }}W Available, {{ connection.system.poe_power_consumed }}W Used</div>
        {% for pse_index, pse in connection.system.poe_pse_devices.items %}
          <div><strong>PSE #{{ pse_index }}:</strong> {{ pse.status|get_poe_pse_status }},
            Max {{ pse.max_power }} Watts, Drawing {{ pse.power_consumed }} Watts, Threshold = {{ pse.threshold }}%.
          </div>
        {% endfor %}
      {% else %}
        <div>Not found.</div>
      {% endif %}
    </div>
  </div>

</div> {# column 1 #}

<div class="col-md-8"> {# column 2 #}

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>General Information</strong>
    </div>
    <div class="panel-body">
      <div><strong>Basic info read:</strong> {{ time_since_last_read }} ago.</div>

      <div><strong>Hostname:</strong> {{ connection.system.name }}</div>

      <div><strong>Uptime:</strong> {{ connection.system.uptime }}</div>

      <div><strong>Model:</strong> {{ connection.system.description }}</div>

      <div><strong>Location:</strong> {{ connection.system.location }}</div>

      <div><strong>Snmp Id:</strong> {{ connection.system.object_id }} ({{ connection.system.enterprise_info }})</div>

      <div><strong>Snmp Profile:</strong>
      {% if switch.snmp_profile %}
        {{ switch.snmp_profile.name }}
      {% else %}
        Not set
      {% endif %}
      </div>

      <div><strong>Netmiko Profile:</strong>
      {% if switch.netmiko_profile %}
        {{ switch.netmiko_profile.name }}
      {% else %}
        Not set
      {% endif %}
      </div>

      <div><strong>Handler:</strong> {{ connection.name }}</div>

      <div><strong>Response (basic):</strong> {{ connection.basic_info_duration }} seconds</div>
      {% if connection.detailed_info_duration > 0 %}
        <div><strong>Response (details):</strong> {{ connection.detailed_info_duration }} seconds</div>
      {% endif %}
      <div><strong>Switch Group:</strong> {{ group }}</div>
      {% if connection.syslog_max_msgs %}
      <div><strong>Log size:</strong> {{ connection.syslog_max_msgs }}</div>
      {% endif %}
    </div>
  </div>

  {% if tasks %}
  <div class="panel {% if task_process_running %}panel-default{% else %}panel-warning{% endif %}">
    <div class="panel-heading"><strong>Scheduled Tasks{% if not task_process_running %} - Task process is not running! <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>{% endif %}</strong></div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Scheduled at</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
          <tr>
            <td>
              {% if task_process_running and allow_tasks %}
                <a href="{% url 'switches:task_delete' task.id %}"
                   data-toggle="tooltip"
                   title="Click here to delete this scheduled task..."
                {% if request.user.profile.are_you_sure %}
                   onclick="return confirm_change('Are you sure you want to DELETE this task?')"
                {% endif %}
                   >
                   <i class="fas fa-trash" aria-hidden="true"></i>
                </a>
              {% endif %}
              {{ task.eta }}
            </td>
            <td>
              <a href="{% url 'switches:task_details' task.id %}"
                 data-toggle="tooltip"
                 title="Click here to show the details of this scheduled task...">
                 {{ task.description }}
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% if connection.syslog_msgs.items %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Recent Syslog Entries ({{ connection.syslog_max_msgs }} max)</strong>
    </div>
    <div class="panel-body">
        <table class="table table-striped w-auto">
          <thead>
            <tr><th>Approx. Time</th><th>Message</th></tr>
          </thead>
          <tbody>
          {% for index,msg in connection.syslog_msgs.items %}
            <tr>
              <td>{{ msg.datetime|date:"SHORT_DATETIME_FORMAT" }}</td>
              <td>{{ msg.message }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
  {% endif %}


  {% if connection.stack_members.items %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Device/Stacking Info</strong>
    </div>
    <div class="panel-body">
      {% for dev_id,dev in connection.stack_members.items %}
        <div>ID {{ dev_id }} - {{ dev|get_device_class }}
          {% if dev.model %}
            , model no. {{ dev.model }}
          {% endif %}
          {% if dev.serial %}
            , serial no. {{ dev.serial }}
          {% endif %}
          {% if dev.version %}
            , software rev. {{ dev.version }}
          {% endif %}
        </div>
      {% endfor%}
    </div>
  </div>
  {% endif %}

  {% if connection.vendor_data.items %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>{{ connection.vendor_name }} Vendor-Specific Information</strong>
    </div>
    <div class="panel-body">
      {% for category,items in connection.vendor_data.items %}
        <table class="table table-striped w-auto">
          <thead>
            <tr><th>{{ category }}</th></tr>
          </thead>
          <tbody>
          {% for vendor_data in items %}
            <tr>
              <td>{{ vendor_data.name }}</td>
              <td>{{ vendor_data.value }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endfor%}
    </div>
  </div>
  {% endif %}

</div> {# col 2 #}
</div> {# row #}


{% if request.user.is_superuser %}
<div class="row">
<div class="col-md-4">

    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>SNMP MIB Timing</strong>
      </div>
      <div class="panel-body">
        <table class="table table-striped w-auto">
          <thead>
          <tr><th>Name</th><th>Count</th><th>Time</th></tr>
          </thead>
          <tbody>
          {% for name,info in connection.mib_timing.items %}
            <tr><td>{{ name }}</td><td>{{ info.0 }}</td><td>{{ info.1|floatformat:3 }}</td></tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

</div>{# col #}
<div class="col-md-8">

    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Capabilities</strong>
      </div>
      <div class="panel-body">
        <div>Q-Bridge MIB
        {% if not CAPABILITIES_QBRIDGE_MIB|bitwise_and:switch.snmp_capabilities %}
        NOT
        {% endif %}
        found.</div>

        <div>LLDP MIB
        {% if not CAPABILITIES_LLDP_MIB|bitwise_and:switch.snmp_capabilities %}
        NOT
        {% endif %}
        found.</div>

        <div>PoE MIB
        {% if not CAPABILITIES_POE_MIB|bitwise_and:switch.snmp_capabilities %}
        NOT
        {% endif %}
        found.</div>

        <div>ARP MIB
        {% if not CAPABILITIES_NET2MEDIA_MIB|bitwise_and:switch.snmp_capabilities %}
        NOT
        {% endif %}
        found.</div>

        <div>ARP MIB(new)
        {% if not CAPABILITIES_NET2PHYS_MIB|bitwise_and:switch.snmp_capabilities %}
          NOT
        {% endif %}
        found.</div>

        {% if CAPABILITIES_CISCO_VTP_MIB|bitwise_and:switch.snmp_capabilities %}
        <div>Cisco VTP MIB found.</div>
        {% endif %}

        {% if CAPABILITIES_CISCO_POE_MIB|bitwise_and:switch.snmp_capabilities %}
        <div>Cisco PoE MIB found.</div>
        {% endif %}

        {% if CAPABILITIES_CISCO_STACK_MIB|bitwise_and:switch.snmp_capabilities %}
        <div>Cisco Stack MIB found.</div>
        {% endif %}

        </div>
      </div>

</div> {# col #}
</div> {# row #}
{% endif %} {# superuser #}


</div>{# class panel-group #}
