{% load helpers %}
{% load static %}
<div class="container-fluid">
  <div class="card border-default">
    <div class="card-header bg-default">
      <strong>{{ log_title }}</strong>
      {% if logs_link %}
        &nbsp;&nbsp;
        <a href="{% url 'switches:switch_activity' group.id switch.id %}"
          data-bs-toggle="tooltip"
          title="Click here to see all switch activity logs">
        <i class="fas fa-list-ul" aria-hidden="true"></i> All Actity Logs
        </a>
      {% endif %}
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-headings">
          <tr><th>When</th><th>Type</th><th>Activity</th><th>IP</th><th>User</th><th>Device</th><th>Description</th></tr>
          {% for l in logs %}
            <tr>
              <td>{{ l.timestamp }}</td>
              <td>{{ l.get_type_display }}</td>
              <td>{{ l.get_action_display }}</td>
              <td>{{ l.ip_address|get_ip4_info_links }}{{ l.ip_address }}</td>
              <td>
                {% if l.user %}
                  {% if request.user.is_superuser or request.user.is_staff %}
                  <a href="{% url 'switches:admin_activity'%}?user={{ l.user.id }}"
                    data-bs-toggle="tooltip"
                    title="Click here to see all logs for '{{ l.user }}'">
                  <i class="fas fa-list-ul" aria-hidden="true"></i>
                  </a>
                  &nbsp;
                  <a href="{% url 'users:info' l.user.id %}"
                      data-bs-toggle="tooltip"
                      title="Click here to see info on '{{ l.user }}'">
                    {{ l.user }}
                    </a>
                  {% else %}
                    {{ l.user }}
                  {% endif %}
              {% endif %}
              </td>
              <td>
                {% if l.switch and l.group %}
                  {% if request.user.is_superuser or request.user.is_staff %}
                  <a href="{% url 'switches:admin_activity'%}?switch={{ l.switch.id }}"
                    data-bs-toggle="tooltip"
                    title="Click here to see all logs for '{{ l.switch }}'">
                  <i class="fas fa-list-ul" aria-hidden="true"></i>
                  </a>
                  &nbsp;
                  <a href="{% url 'switches:switch_basics' l.group.id l.switch.id %}"
                      data-bs-toggle="tooltip"
                      title="Click here to connect to '{{ l.switch }}'">
                      {{ l.switch }}
                    </a>
                    {% if request.user.is_superuser %}
                      &nbsp;
                      <a href="{% url 'admin:switches_switch_change' l.switch.id %}"
                        data-bs-toggle="tooltip"
                        title="Go to '{{ l.switch }}' admin page">
                        <i class="fas fa-cog" aria-hidden="true"></i>
                      </a>
                    {% endif %}
                  {% else %}
                    {{ l.switch }}
                  {% endif %}
                {% endif %}
              </td>
              <td>{{ l.description }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>