{% load helpers %}
{% load static %}

<div class="card border-default container-fluid">
<!--
  <div class="card-header bg-default">
    <strong>Interface Info</strong>
  </div>
-->
  <div class="table-responsive">
    <table class="table table-hover table-headings table-hover w-100 align-middle">
      <thead>
      <tr>
        <th>
          <form
            action="{% url 'switches:switch_download_interfaces' group.id switch.id %}"
            method="post">
            {% csrf_token %}
            <button type="submit" name="DownloadInterfaceXLSX" value="Download" class="btn-link"
              data-bs-toggle="tooltip"
              data-bs-title="Click here to download interfaces info to Excel"
            >Interface Name <i class="fa-solid fa-download" aria-hidden="true"></i></button>
          </form>
        </th>
        <th>Link</th>
        <th>Vlan</th>
        {% if connection.poe_capable %}
        <th>PoE</th>
        {% endif %}
        <th>Description</th>
        {% if connection.can_run_commands %}
          {% if switch.command_list.interface_commands.count %}
          <th>Commands</th>
          {% elif request.user.is_staff or request.user.is_superuser %}
            {% if switch.command_list.interface_commands_staff.count %}
            <th>Commands</th>
            {% endif %}
          {% endif %}
        {% endif %}
      </tr>
      </thead>
      <tbody>
      {% for if_index,iface in connection.interfaces.items %}
        {% if iface.visible %}

          <tr>

            {% if iface.manageable %}

              {% include "_tpl_if_name_td.html" %}

              {% include "_tpl_if_linkspeed_td.html" %}

              {# only show vlan, poe, description and command capabilities for Ethernet interfaces #}
              {% if iface.type == IF_TYPE_ETHERNET %}
                <td>
                  {% if iface.untagged_vlan > 0 %}
                    {% if connection.can_change_vlan and iface.lacp_type == LACP_IF_TYPE_NONE  %}
                      <form name="vlanchange_{{ iface.key }}"
                            id="vlanform{{ forloop.counter }}"
                            action="{% url 'switches:pvid_change' group.id switch.id iface.key %}"
                            method="post"
                            >
                        {% csrf_token %}
                        <select name="new_pvid" data-bs-toggle="tooltip" title="Select the new vlan here"
                                id="vlan_select{{ forloop.counter }}"
                                onchange="checkVlanChanged{{ forloop.counter }}()">
                          {% for vlan_id,vlan in connection.allowed_vlans.items %}
                            <option
                            {% if vlan_id == iface.untagged_vlan %} selected {% endif %}
                             value="{{ vlan_id }}">{{ vlan_id }}
                            {% if vlan.name %} - {{ vlan.name }} {% endif %}
                            </option>
                          {% endfor %}
                        </select>
                        <input type="submit" disabled
                               id="vlan_submit{{ forloop.counter }}"
                               value="Change"
                               class="btn btn-primary"
                               data-bs-toggle="tooltip" title="Click here to change vlan!"
                            {% if request.user.profile.are_you_sure %}
                               onclick="return confirm_change('Are you sure you want change VLAN on interface {{ iface.name }}?')"
                            {% endif %}
                        >
                      </form>
                      <!-- Add script to detect vlan input change and enable submit -->
                      <script>
                        // value at initial form rendering:
                        const initialVlanValue{{ forloop.counter }} = document.getElementById('vlan_select{{ forloop.counter }}').value
                        function checkVlanChanged{{ forloop.counter }}() {
                          const vlanSelect = document.getElementById('vlan_select{{ forloop.counter }}');
                          const submitButton = document.getElementById('vlan_submit{{ forloop.counter }}');
                          if (vlanSelect.value !== initialVlanValue{{ forloop.counter }}) {
                            submitButton.disabled = false   // selected vlan changed, enable the submit button
                          } else {
                            submitButton.disabled = true    // No changes from original vlan, disable the submit button
                          }
                        }
                      </script>
                    {% else %} {# not can_change_vlan #}
                      <span data-bs-toggle="tooltip" title="{{ connection.vlans|get_dictionary_value:iface.untagged_vlan }}">
                        {{ iface.untagged_vlan }}
                      </span>
                    {% endif %}
                  {% else %} {# untagged_vlan <= 0 #}
                    <span data-bs-toggle="tooltip" title="Configured vlan {{ iface.untagged_vlan }} is not defined on this switch. See warnings tab!">Not defined!</span>
                  {% endif %}
                </td>

                {% if connection.poe_capable %}
                  <td>
                  {% if iface.poe_entry %}
                    {% if connection.can_change_poe_status %}
                      {% if iface.poe_entry.admin_status == POE_PORT_ADMIN_ENABLED %}
                        <form
                          action="{% url 'switches:poe_change' group.id switch.id iface.key POE_PORT_ADMIN_DISABLED %}"
                          method="post"
                          {% if request.user.profile.are_you_sure %}
                          onclick="return confirm_change('Are you sure you want to DISABLE POWER on interface {{ iface.name }}?')"
                          {% endif %}
                          data-bs-toggle="tooltip"
                          {% if iface.poe_entry.detect_status > POE_PORT_DETECT_DELIVERING %}
                          {# fault or something like that #}
                          title="PoE Enabled with FAULT! Click here to Disable PoE on interface {{ iface.name }}"
                        >
                          <input type="image" name="submit" src="{% static 'img/poe-fault.png' %}" alt="PoE Fault!">
                          {% elif iface.poe_entry.detect_status == POE_PORT_DETECT_DELIVERING %}
                          title="PoE Enabled and DELIVERING! Click here to Disable PoE on interface {{ iface.name }}"
                        >
                          <input type="image" name="submit" src="{% static 'img/poe-serving.png' %}" alt="PoE Delivering!">
                            {% if iface.poe_entry.power_consumption_supported %}
                              {{ iface.poe_entry.power_consumed|humanize_power }}
                            {% endif %}
                          {% else %}
                          title="PoE Enabled, NOT delivering! Click here to Disable PoE on interface {{ iface.name }}"
                        >
                          <input type="image" name="submit" src="{% static 'img/poe-enabled.png' %}" alt="PoE Enabled">
                          {% endif %}
                          {% csrf_token %}
                        </form>

                        {% if iface.allow_poe_toggle and iface.poe_entry.detect_status == POE_PORT_DETECT_DELIVERING %}
                          {# if delivering power, toggle option if allowed #}
                          <form
                            action="{% url 'switches:poe_down_up' group.id switch.id iface.key %}"
                            method="post"
                            {% if request.user.profile.are_you_sure %}
                            onclick="return confirm_change('Are you sure you want to TOGGLE POWER OFF/ON on interface {{ iface.name }}?')"
                            {% endif %}
                            data-bs-toggle="tooltip"
                            title="Toggle PoE Off and then On on interface {{ iface.name }}"
                            >
                            <input type="image" name="submit" src="{% static 'img/down-up.png' %}" alt="PoE Down/Up Toggle">
                            {% csrf_token %}
                          </form>
                        {% endif %}

                      {% else %}{# PoE is down #}
                        <form
                          action="{% url 'switches:poe_change' group.id switch.id iface.key POE_PORT_ADMIN_ENABLED %}"
                          method="post"
                          {% if request.user.profile.are_you_sure %}
                          onclick="return confirm_change('Are you sure you want to ENABLE POWER on interface {{ iface.name }}?')"
                          {% endif %}
                          data-bs-toggle="tooltip"
                          title="PoE Disabled! Click here to Enable PoE on interface {{ iface.name }}"
                        >
                        <input type="image" name="submit" src="{% static 'img/poe-disabled-0.png' %}" alt="PoE Disabled">
                        {% csrf_token %}
                        </form>
                      {% endif %}
                    {% else %}  {# driver or user cannot change poe #}
                      {% if iface.poe_entry.admin_status == POE_PORT_ADMIN_ENABLED %}
                        {% if iface.poe_entry.detect_status > POE_PORT_DETECT_DELIVERING %}
                          {# fault or something like that #}
                          <img src="{% static 'img/poe-fault.png' %}" alt="PoE FAULT!" data-bs-toggle="tooltip" title="PoE Fault!">
                        {% elif iface.poe_entry.detect_status == POE_PORT_DETECT_DELIVERING %}
                          <img src="{% static 'img/poe-serving.png' %}" alt="PoE Delivering!" data-bs-toggle="tooltip" title="PoE Delivering!">
                          {% if iface.poe_entry.power_consumption_supported %}
                            {{ iface.poe_entry.power_consumed|humanize_power }}
                          {% endif %}
                        {% else %}
                          <img src="{% static 'img/poe-enabled.png' %}" alt="PoE Enabled" data-bs-toggle="tooltip" title="PoE Enabled!">
                        {% endif %}
                      {% else %} {# disabled #}
                        <img src="{% static 'img/poe-disabled-0.png' %}" alt="PoE Disabled" data-bs-toggle="tooltip" title="PoE Disabled!">
                      {% endif %}
                    {% endif %}
                  {% else %} {# no iface.poe_entry #}
                     <span data-bs-toggle="tooltip" title="PoE not supported on this interface">n/s</span>
                  {% endif %}
                  </td>
                {% endif %}

                <td>
                  {% if connection.can_change_description and iface.can_edit_description %}
                    <!-- Add script to detect description input change and enable submit -->
                    <script>
                      function checkDescrChanged{{ forloop.counter }}() {
                        const newDescr = document.getElementById('description{{ forloop.counter }}');
                        const submitButton = document.getElementById('submit{{ forloop.counter }}');
                        if (newDescr.value !== newDescr.defaultValue) {
                          submitButton.disabled = false   // Input changes, enable the submit button
                        } else {
                          submitButton.disabled = true    // No changes from original, disable the submit button
                        }
                      }
                    </script>
                    <form name="descriptionchange{{forloop.counter}}"
                      id="descriptionform{{ forloop.counter }}"
                      action="{% url 'switches:description_change' group.id switch.id iface.key %}"
                      method="post"
                      >
                      {% csrf_token %}
                      <input type="text" size=40 name="new_description" value="{{ iface.description }}"
                             id="description{{ forloop.counter }}"
                             data-bs-toggle="tooltip" title="Type the new description here!"
                             onkeyup="checkDescrChanged{{ forloop.counter }}()">
                      <input type="submit" disabled
                             id="submit{{ forloop.counter }}""
                             value="Change"
                             class="btn btn-primary"
                             data-bs-toggle="tooltip" title="Click here to change description!"
                          {% if request.user.profile.are_you_sure %}
                             onclick="return confirm_change('Are you sure you want change the description on interface {{ iface.name }}?')"
                          {% endif %}
                      >
                    </form>
                  {% else %}
                    {{ iface.description }}
                  {% endif %}
                </td>

                {% if connection.can_run_commands %}
                  {% if switch.command_list.interface_commands.count or switch.command_list.interface_commands_staff.count %}
                    <td>
                      <form name="command_form"
                            action="{% url 'switches:interface_cmd_output' group.id switch.id iface.key %}"
                            method="post">
                        {% csrf_token %}
                        <select name="command_id" data-bs-toggle="tooltip" title="Select a command run!">
                          <optgroup label="Commands available:">
                          {% for c in switch.command_list.interface_commands.all %}
                            <option value="{{ c.id }}">{{ c.name }}</option>
                          {% endfor %}
                          </optgroup>
                          {% if request.user.is_superuser or request.user.is_staff %}
                            {% if switch.command_list.interface_commands_staff.count %}
                              <optgroup label="Staff commands:">
                              {% for c in switch.command_list.interface_commands_staff.all %}
                                <option value="{{ c.id }}">{{ c.name }}</option>
                              {% endfor %}
                              </optgroup>
                            {% endif %}
                          {% endif %}
                        </select>
                        <input type="hidden" name="if_name" value="{{ iface.name }}">
                        &nbsp;<input type="submit" value="Run" class="btn btn-primary"
                                     data-bs-toggle="tooltip" title="Click here to run command!">
                      </form>
                    </td>
                  {% endif %} {# can_run_commands #}
                {% endif %}

              {% else %} {# not Ethernet #}

                <td>{# vlan info #}
                  <span data-bs-toggle="tooltip" title="Not an ethernet interface">n/a</span>
                </td>

                {% if connection.poe_capable %}
                  <td>
                    <span data-bs-toggle="tooltip" title="Not applicable for this interface">n/a</span>
                  </td>
                {% endif %}

                <td>{{ iface.description }}</td>

                <td>
                  <span data-bs-toggle="tooltip" title="Not applicable for this interface">n/a</span>
                </td>
              {% endif %}

            {% else %} {# not manageable #}
              <!-- NOT MANAGEABLE -->
              <td class="
              {% if iface.admin_status %}
                {% if iface.oper_status %}
                  color_if_up">
                {% else %}
                  color_if_down">
                {% endif %}
              {% else %}
                  color_if_shutdown">
              {% endif %}
                {{ switch|get_interface_info_links:iface }}
                {% if iface.unmanage_reason %}
                  <span data-bs-toggle="tooltip" title="{{ iface.unmanage_reason }}">
                {% endif %}
                {{ iface.name }}
                {% if iface.unmanage_reason %}
                  </span>
                {% endif %}
                {% include "_tpl_if_type_icons.html" %}
                <!-- ifkey = {{ iface.key }},  ifIndex = {{ iface.index }}, type = {{ iface.type }}, port_id = {{ iface.port_id }} -->
              </td>

              {% include "_tpl_if_linkspeed_td.html" %}

              <td>
                {% if iface.untagged_vlan > 0 %}
                  <span data-bs-toggle="tooltip" title="{{ connection.vlans|get_dictionary_value:iface.untagged_vlan }}">
                      {{ iface.untagged_vlan }}
                  </span>
                {% else %}
                  <span data-bs-toggle="tooltip" title="No vlan information found">n/a</span>
                {% endif %}
              </td>

              {% if connection.poe_capable %}
                <td>
                  {% if iface.poe_entry %}
                    {% if iface.poe_entry.admin_status == POE_PORT_ADMIN_ENABLED %}
                      {% if iface.poe_entry.detect_status > POE_PORT_DETECT_DELIVERING %}
                        {# fault or something like that #}
                        <img src="{% static 'img/poe-fault.png' %}" alt="PoE FAULT!" data-bs-toggle="tooltip" title="PoE Fault!">
                      {% elif iface.poe_entry.detect_status == POE_PORT_DETECT_DELIVERING %}
                        <img src="{% static 'img/poe-serving.png' %}" alt="PoE Delivering!" data-bs-toggle="tooltip" title="PoE Delivering!">
                        {# if delivering power, toggle option if allowed #}
                        {% if connection.can_change_poe_status and iface.allow_poe_toggle %}
                          <a
                          {% if request.user.profile.are_you_sure %}
                              onclick="return confirm_change('Are you sure you want to TOGGLE POWER OFF/ON on interface {{ iface.name }}?')"
                          {% endif %}
                              href="{% url 'switches:poe_down_up' group.id switch.id iface.key %}"
                              data-bs-toggle="tooltip"
                              title="Toggle PoE Off and then On on interface {{ iface.name }}">
                            <img src="{% static 'img/down-up.png' %}" alt="PoE Down/Up Toggle">
                          </a>
                        {% endif %}
                        {% if iface.poe_entry.power_consumption_supported %}
                          {{ iface.poe_entry.power_consumed|humanize_power }}
                        {% endif %}
                      {% else %}
                        <img src="{% static 'img/poe-enabled.png' %}" alt="PoE Enabled" data-bs-toggle="tooltip" title="PoE Enabled!">
                      {% endif %}
                    {% else %} {# disabled #}
                      <img src="{% static 'img/poe-disabled-0.png' %}" alt="PoE Disabled" data-bs-toggle="tooltip" title="PoE Disabled!">
                    {% endif %}
                  {% else %}
                     <span data-bs-toggle="tooltip" title="PoE not supported on this interface">n/s</span>
                  {% endif %}
                </td>
              {% endif %} {# poe_capable #}

              <td>{{ iface.description }}</td>

              {% if connection.can_run_commands %}
                {% if switch.command_list.interface_commands.count or switch.command_list.interface_commands_staff.count %}
                  <td>
                    <form name="command_form"
                          action="{% url 'switches:interface_cmd_output' group.id switch.id iface.key %}"
                          method="post">
                      {% csrf_token %}
                      <select name="command_id" data-bs-toggle="tooltip" title="Select command to run">
                        <optgroup label="Commands available:">
                        {% for c in switch.command_list.interface_commands.all %}
                          <option value="{{ c.id }}">{{ c.name }}</option>
                        {% endfor %}
                        </optgroup>
                        {% if request.user.is_superuser or request.user.is_staff %}
                          {% if switch.command_list.interface_commands_staff.count %}
                            <optgroup label="Staff commands:">
                            {% for c in switch.command_list.interface_commands_staff.all %}
                              <option value="{{ c.id }}">{{ c.name }}</option>
                            {% endfor %}
                            </optgroup>
                          {% endif %}
                        {% endif %}
                      </select>
                      <input type="hidden" name="if_name" value="{{ iface.name }}">
                      &nbsp;<input type="submit" value="Run" class="btn btn-primary" data-bs-toggle="tooltip" title="Click here to run command!">
                    </form>
                  </td>
                {% endif %}
              {% endif %} {# can_run_commands #}
            {% endif %} {# not manageable #}

          </tr>

        {% endif %} {# visible #}

      {% endfor %} {# interfaces #}
    </tbody>
    </table>
  </div> {# class table-responsive #}
</div> {# card #}
