{% load helpers %}
{% load static %}

<div class="card border-default mb-2">
  <div class="card-header bg-default">
    <strong>General Information</strong>
  </div>
  <div class="card-body">
    {% for category,values in connection.more_info.items %}
      <div class="mb-3">
        <div class="fw-bold border-bottom pb-1 mb-1">{{ category }}</div>
        {% for name,value in values.items %}
          <div class="row p-1{% cycle '' ' bg-light' %}">
            <div class="col-3">{{ name }}</div>
            <div class="col">{{ value }}</div>
          </div>
        {% endfor %}
      </div>
    {% endfor%}
  </div>
</div>


{% if connection.syslog_msgs.items %}
<div class="card border-default mb-2">
  <div class="card-header bg-default">
    <strong>Recent Syslog Entries ({{ connection.syslog_max_msgs }} max)</strong>
  </div>
  <div class="card-body">
      <div class="fw-bold border-bottom pb-1 mb-1 row">
        <div class="col-3">Approx. Time</div>
        <div class="col">Message</div>
      </div>
      {% for index,msg in connection.syslog_msgs.items %}
        <div class="row p-1{% cycle '' ' bg-light' %}">
          <div class="col-3">{{ msg.datetime|date:"SHORT_DATETIME_FORMAT" }}</div>
          <div class="col">{{ msg.message }}</div>
        </div>
      {% endfor %}
  </div>
</div>
{% endif %}


{% if connection.stack_members.items %}
<div class="card border-default mb-2">
  <div class="card-header bg-default">
    <strong>Modules Information</strong>
  </div>
  <div class="card-body">
    {% for dev_id,dev in connection.stack_members.items %}
        <div class="p-2{% if not forloop.last %} border-bottom{% endif %}{% cycle '' ' bg-light' %}">
          ID {{ dev_id }} - {{ dev|get_device_class }}
          {% if dev.description %}
            , &quot;{{ dev.description }}&quot;
          {% endif %}
          {% if dev.model %}
            , model no. {{ dev.model }}
          {% endif %}
          {% if dev.serial %}
            , serial no. {{ dev.serial }}
          {% endif %}
          {% if dev.version %}
            , software rev. {{ dev.version }}
          {% endif %}
          {% if dev.info %}
            , {{ dev.info }}
          {% endif %}
          {% if dev.uptime %}
            , uptime {{ dev.uptime|humanize_seconds }}
          {% endif %}
        </div>
    {% endfor%}
  </div>
</div>
{% endif %}
