{% load helpers %}
{% load static %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Device IPv4 Addresses</strong>
      </div>
      <div class="panel-body">
      {% for if_index,iface in connection.interfaces.items %}
        {% if iface.addresses_ip4 %}
          {% for ip,addr in iface.addresses_ip4.items %}
            <div>{{ connection.switch|get_interface_info_links:iface }} {{iface.name}}: {{ addr.ip|get_ip4_info_links }} {{ addr.ip }} / {{ addr.netmask }}</div>
          {% endfor %}
        {% endif %}
      {% endfor %}
      </div>
    </div>
