{% load helpers %}
{% load static %}

<div class="card border-default mb-2">
  <div class="card-header bg-default">
    <strong>{{ connection.vlan_count }} Vlans defined (GVRP
      {% if connection.gvrp_enabled %}
        Enabled
      {% else %}
        disabled
      {% endif %}
      )</strong>
  </div>
  {% if connection.vlan_count %}
  <div class="card-body">
    <div class="fw-bold border-bottom pb-1 mb-1 row">
      <div class="col-1">Vlan ID</div>
      <div class="col-3">Name</div>
      <div class="col">Etc.</div>
    </div>
    {% for vlanid,vlan in connection.vlans.items %}
      {% if vlan.type == VLAN_TYPE_NORMAL %}
        <div class="row p-1{% cycle '' ' bg-light' %}">
          <div class="col-1">{{ vlanid }}</div>
          <div class="col-3">{% if vlan.name %}{{ vlan.name }}{% else %}<span class="fw-lighter fst-italic">(no name set)</span>{% endif %}</div>
          {# Etc. Column #}
          <div class="col">{{ vlan|get_vlan_info_links }}
          {% if vlan.status == VLAN_STATUS_DYNAMIC %}
            <i class="fa-solid cloud-download-alt" aria-hidden="true"
                alt="MVRP/GVRP Image"
                data-bs-toggle="tooltip"
                title="Vlan learned via MVRP or GVRP">
            </i>
          {% endif %}
          {% if vlan.admin_status == VLAN_ADMIN_DISABLED %}
            &nbsp;
            <i class="fa-solid fa-ban" aria-hidden="true"
                alt="Vlan is Admin Shutdown"
                data-bs-toggle="tooltip"
                title="Shutdown Vlan">
            </i>
          {% endif %}
          {% if vlan.voice %}
            &nbsp;
            <i class="fa-solid fa-phone" aria-hidden="true"
                alt="Voice Vlan"
                data-bs-toggle="tooltip"
                title="Voice Vlan">
            </i>
          {% endif %}
          {% if vlan.igmp_snooping %}
            &nbsp;
            <i class="fa-solid fa-project-diagram" aria-hidden="true"
                alt="IGMP Snooping Enabled"
                data-bs-toggle="tooltip"
                title="IGMP Snooping Enabled">
            </i>
          {% endif %}
          {% if vlan.vrf %}
            &nbsp;
            <i class="fa-solid fa-network-wired" aria-hidden="true"
                data-bs-toggle="tooltip"
                title="Member of VRF '{{ vlan.vrf }}'">
            </i>
          {% endif %}
          </div>{# etc. column #}
        </div>
      {% endif %}
    {% endfor%}
  </div>
  {% endif %}{# vlan_count #}
</div>
