{% load helpers %}
{% load static %}

    <div class="card border-default">
      <div class="card-header bg-default">
        <strong>Device IPv4 Addresses</strong>
      </div>
      <div class="card-body">
      {% for if_index,iface in connection.interfaces.items %}
        {% if iface.addresses_ip4 %}
          {% for ip,addr in iface.addresses_ip4.items %}
            <div>{{ connection.switch|get_interface_info_links:iface }} {{iface.name}}: {{ addr.ip|get_ip4_info_links }}
                 {% if addr.hostname %}<abbr data-bs-toggle="tooltip" title="{{ addr.hostname }}">{{ addr.ip }}</abbr>{% else %}{{ addr.ip }}{% endif %} / {% if settings.IFACE_IP4_SHOW_PREFIXLEN %}{{ addr.prefixlen }}{% else %}{{ addr.netmask }}{% endif %}</div>
          {% endfor %}
        {% endif %}
      {% endfor %}
      </div>
    </div>
