{% load helpers %}
{% load static %}

<div class="card border-default container-fluid">
{% if connection.eth_addr_count == 0 and connection.neighbor_count == 0 %}
  <div class="card-header bg-default">
    <strong>No Ethernet addresses and no neighbors found!</strong>
  </div>
{% else %}
  <div class="table-responsive">
    <table class="table table-hover table-headings table-hover w-100 align-middle">
      <thead>
        <tr>
          <th>Interface Name</th>
          <th>Link</th>
          <th>Vlan</th>
          {% if connection.poe_capable %}
          <th>PoE</th>
          {% endif %}
          {% if connection.eth_addr_count > 0 %}
          <th><a data-bs-toggle="tooltip" href="{% url 'switches:switch_download_ethernet_neighbors' group.id switch.id  %}" title="Click here to download Ethernet addresses and Neighbor info to Excel"><i class="fas fa-download" aria-hidden="true"></i> Ethernet Addresses ({{ connection.eth_addr_count }})</a></th>
          {% endif %}
          {% if connection.neighbor_count > 0 %}
          <th><a data-bs-toggle="tooltip" href="{% url 'switches:switch_download_ethernet_neighbors' group.id switch.id  %}" title="Click here to download Ethernet addresses and Neighbor info to Excel"><i class="fas fa-download" aria-hidden="true"></i> Neighbors ({{ connection.neighbor_count }})</a>
              &nbsp;
              <a
                id="openGraphButton"
                value=""
                href="#"
                data-bs-toggle="tooltip"
                title="Click to show graphical view of neighbor devices"
                ><i class="fa-solid fa-chart-diagram" aria-hidden="true"></i> Show Neighbors Graph</a>
          </th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
      {% for key,iface in connection.interfaces.items %}
        {% if iface.visible %}
          <tr>
            <td
            {% if iface.admin_status %}
              {% if iface.oper_status %}
                class="color_if_up">
              {% else %}
                class="color_if_down">
              {% endif %}
            {% else %}
                class="color_if_shutdown">
            {% endif %}
            {{ switch|get_interface_info_links:iface }}
            {% if iface.description %}
              <abbr data-bs-toggle="tooltip" title="{{ iface.description }}">{{ iface.name }}</abbr>
            {% else %}
              {{ iface.name }}
            {% endif %}
            {% include "_tpl_if_type_icons.html" %}
            <!-- ifkey = {{ iface.key }},  ifIndex = {{ iface.index }} -->
            </td>

            {% include "_tpl_if_linkspeed_td.html" %}

            <td>
              {% if iface.untagged_vlan > 0 %}
                <abbr data-bs-toggle="tooltip" title="{{ connection.vlans|get_dictionary_value:iface.untagged_vlan }}">
                  {{ iface.untagged_vlan }}
                </abbr>
              {% else %}
                <span data-bs-toggle="tooltip" title="Not applicable for this interface">n/a</span>
              {% endif %}
            </td>

            {% if connection.poe_capable %}
            <td>
              {% if iface.poe_entry and iface.poe_entry.power_consumption_supported %}
                {{ iface.poe_entry.power_consumed|humanize_power }}
              {% else %}
              -
              {% endif %}
            </td>
            {% endif %}

            {% if connection.eth_addr_count > 0 %}
            <td>{# known ethernet addresses #}
              {% for macaddr, eth in iface.eth.items %}
                <div>
                  {{ eth|get_ethernet_info_links }}
                  {{ eth }}
                  {% if eth.vlan_id > 0 %}
                    (Vlan {{ eth.vlan_id }})
                  {% endif %}
                  {% if eth.address_ip4 %}
                     / {{ eth.address_ip4|get_ip4_info_links }}
                       {% if eth.hostname %}
                       <abbr data-bs-toggle="tooltip" title="{{ eth.hostname }}">{{ eth.address_ip4 }}</abbr>
                       {% else %}
                       {{ eth.address_ip4 }}
                       {% endif %}
                  {% endif %}
                  {% if eth.address_ip6 %}
                    {% for ipv6 in eth.address_ip6 %}
                     / {{ ipv6|get_ip6_info_links }} {{ ipv6 }}
                    {% endfor %}
                  {% endif %}
                  {% if eth.vendor %}&nbsp;<small>({{ eth.vendor }})</small>{% endif %}
                </div>
              {% endfor %}
            </td>
            {% endif %}

            {% if connection.neighbor_count > 0 %}
            <td>{# lldp neigbors #}
              {% for lldp_index,neighbor in iface.lldp.items %}
                <div>{{ neighbor|get_lldp_info }}
                  <!-- lldp_index = {{ neighbor.index }} -->
                </div>
              {% endfor %}
            </td>
            {% endif %}

          </tr>

        {% endif %} {# visible and ethernet #}

      {% endfor %}
    </tbody>
    </table>

  </div> {# class table-responsive #}
  {% if connection.neighbor_count > 0 %}
    {% include "_neighbor_mermaid_graphic.html" %}
  {% endif %}
{% endif %}
</div> {# card #}
