{% load helpers %}

<style>
  .template-field-row:nth-child(even) {
    background-color: var(--bs-light);
  }
</style>

<div class="card border-default">
  <div class="card-header bg-default">
    <strong>Command Templates</strong>
  </div>
  <div class="card-body">
  {% for t in switch.command_templates.all %}
    <div class="rowmt-2 mb-2">
      <div class="col-3">
        <div>
          <a data-bs-toggle="collapse" href="#cmd_template_{{ t.id }}_details" aria-expanded="false" aria-controls="cmd_template_{{ t.id }}_details">
            <span data-bs-toggle="tooltip" title="{{ t.description }}">{{ t.name }}</span>
          </a>
        </div>
        <div id="cmd_template_{{ t.id }}_details" class="collapse">
          <div class="card border-default mt-2 mb-2">
            <div class="card-header bg-default">
              {{ t.description }}
            </div>
            <div class="card-body">
              <form name="command_template_{{ t.id }}_form" id="command_template_{{ t.id }}_form"
                    action="{% url 'switches:switch_cmd_template_output' group.id switch.id %}"
                    method="post">
                    {% csrf_token %}
                    {% if t.field1_name %}
                    <div class="mb-0 p-1 row template-field-row">
                      <label class="col-4 col-form-label">{{ t.field1_name }}</label>
                      <div class="col">
                        <input type="text" class="form-control" name="field1" value=""
                               data-bs-toggle="tooltip" title="{{ t.field1_description }}"
                               onkeyup="templateInputChanged{{ t.id }}()">
                      </div>
                    </div>
                    {% endif %}
                    {% if t.field2_name %}
                    <div class="mb-0 p-1 row template-field-row">
                      <label class="col-4 col-form-label">{{ t.field2_name }}</label>
                      <div class="col">
                        <input type="text" class="form-control" name="field2" value=""
                               data-bs-toggle="tooltip" title="{{ t.field2_description }}"
                               onkeyup="templateInputChanged{{ t.id }}()">
                      </div>
                    </div>
                    {% endif %}
                    {% if t.field3_name %}
                    <div class="mb-0 p-1 row template-field-row">
                      <label class="col-4 col-form-label">{{ t.field3_name }}</label>
                      <div class="col">
                        <input type="text" class="form-control" name="field3" value=""
                               data-bs-toggle="tooltip" title="{{ t.field3_description }}"
                               onkeyup="templateInputChanged{{ t.id }}()">
                      </div>
                    </div>
                    {% endif %}
                    {% if t.field4_name %}
                    <div class="mb-0 p-1 row template-field-row">
                      <label class="col-4 col-form-label">{{ t.field4_name }}</label>
                      <div class="col">
                        <input type="text" class="form-control" name="field4" value=""
                               data-bs-toggle="tooltip" title="{{ t.field4_description }}"
                               onkeyup="templateInputChanged{{ t.id }}()">
                      </div>
                    </div>
                    {% endif %}
                    {% if t.field5_name %}
                    <div class="mb-0 p-1 row template-field-row">
                      <label class="col-4 col-form-label">{{ t.field5_name }}</label>
                      <div class="col">
                        <input type="text" class="form-control" name="field5" value=""
                               data-bs-toggle="tooltip" title="{{ t.field5_description }}"
                               onkeyup="templateInputChanged{{ t.id }}()">
                      </div>
                    </div>
                    {% endif %}
                    {% if t.field6_name %}
                    <div class="mb-0 p-1 row template-field-row">
                      <label class="col-4 col-form-label">{{ t.field6_name }}</label>
                      <div class="col">
                        <input type="text" class="form-control" name="field6" value=""
                               data-bs-toggle="tooltip" title="{{ t.field6_description }}"
                               onkeyup="templateInputChanged{{ t.id }}()">
                      </div>
                    </div>
                    {% endif %}
                    {% if t.field7_name %}
                    <div class="mb-0 p-1 row template-field-row">
                      <label class="col-4 col-form-label">{{ t.field7_name }}</label>
                      <div class="col">
                        <input type="text" class="form-control" name="field7" value=""
                               data-bs-toggle="tooltip" title="{{ t.field7_description }}"
                               onkeyup="templateInputChanged{{ t.id }}()">
                      </div>
                    </div>
                    {% endif %}
                    {% if t.field8_name %}
                    <div class="mb-0 p-1 row template-field-row">
                      <label class="col-4 col-form-label">{{ t.field8_name }}</label>
                      <div class="col">
                        <input type="text" class="form-control" name="field8" value=""
                               data-bs-toggle="tooltip" title="{{ t.field8_description }}"
                               onkeyup="templateInputChanged{{ t.id }}()">
                      </div>
                    </div>
                    {% endif %}
                    {% if t.list1_name %}
                    <div class="mb-0 p-1 row template-field-row">
                      <label class="col-4 col-form-label">{{ t.list1_name }}</label>
                      <div class="col">
                        <select name="list1" class="form-select" data-bs-toggle="tooltip" title="{{ t.list1_description }}"
                                aria-label="Select an option for {{ t.list1_name }}"
                                onchange="templateInputChanged{{ t.id }}()">
                          {{ t.list1_values | get_options_from_comma_string }}
                        </select>
                      </div>
                    </div>
                    {% endif %}
                    {% if t.list2_name %}
                    <div class="mb-0 p-1 row template-field-row">
                      <label class="col-4 col-form-label">{{ t.list2_name }}</label>
                      <div class="col">
                        <select name="list2" class="form-select" data-bs-toggle="tooltip" title="{{ t.list2_description }}"
                                aria-label="Select an option for {{ t.list2_name }}"
                                onchange="templateInputChanged{{ t.id }}()">
                          {{ t.list2_values | get_options_from_comma_string }}
                        </select>
                      </div>
                    </div>
                    {% endif %}
                    {% if t.list3_name %}
                    <div class="mb-0 p-1 row template-field-row">
                      <label class="col-4 col-form-label">{{ t.list3_name }}</label>
                      <div class="col">
                        <select name="list3" class="form-select" data-bs-toggle="tooltip" title="{{ t.list3_description }}"
                                aria-label="Select an option for {{ t.list3_name }}"
                                onchange="templateInputChanged{{ t.id }}()">
                          {{ t.list3_values | get_options_from_comma_string }}
                        </select>
                      </div>
                    </div>
                    {% endif %}
                    {% if t.list4_name %}
                    <div class="mb-0 p-1 row template-field-row">
                      <label class="col-4 col-form-label">{{ t.list4_name }}</label>
                      <div class="col">
                        <select name="list4" class="form-select" data-bs-toggle="tooltip" title="{{ t.list4_description }}"
                                aria-label="Select an option for {{ t.list4_name }}"
                                onchange="templateInputChanged{{ t.id }}()">
                          {{ t.list4_values | get_options_from_comma_string }}
                        </select>
                      </div>
                    </div>
                    {% endif %}
                    {% if t.list5_name %}
                    <div class="mb-0 p-1 row template-field-row">
                      <label class="col-4 col-form-label">{{ t.list5_name }}</label>
                      <div class="col">
                        <select name="list5" class="form-select" data-bs-toggle="tooltip" title="{{ t.list5_description }}"
                                aria-label="Select an option for {{ t.list5_name }}"
                                onchange="templateInputChanged{{ t.id }}()">
                          {{ t.list5_values | get_options_from_comma_string }}
                        </select>
                      </div>
                    </div>
                    {% endif %}
                    <div class="mt-2">
                      <input type="hidden" id="id" name="template_id" value="{{ t.id }}">
                      &nbsp;
                      <button type="submit" name="template_form_submit{{ t.id }}" id="template_form_submit{{ t.id }}"
                              disabled class="btn btn-primary">
                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true" id="spinner_template_form_{{ t.id }}"></span>
                        <span id="spinner_template_form_{{ t.id }}_text"
                              data-bs-toggle="tooltip" title="Click to run command template! This may take some time...">Run</span>
                      </button>
                    </div>
                {# add some client-side validation #}
                <script>
                  // submit spinner handling
                  document.getElementById('command_template_{{ t.id }}_form').addEventListener('submit', function(event) {
                    const submitButton = document.getElementById('template_form_submit{{ t.id }}');
                    const spinner = submitButton.querySelector('.spinner-border');
                    const spanText = document.getElementById('spinner_template_form_{{ t.id }}_text');
                    // Disable the button
                    submitButton.disabled = true;
                    // Show the spinner
                    spinner.classList.remove('d-none');
                    // Update text on button
                    spanText.textContent = 'Running...';
                  });
                  // check if input has been selected
                  function templateInputChanged{{ t.id }}() {
                    const thisForm = document.getElementById('command_template_{{ t.id }}_form');
                    const submitButton = document.getElementById('template_form_submit{{ t.id }}');
                    var setEnable = false;
                    // dynamically read the form elements here
                    for (let i = 0; i < thisForm.elements.length; i++) {
                      const element = thisForm.elements[i];
                      if (element.type === 'text' && element.value.trim() !== element.defaultValue) {
                        setEnable = true;   // input changes, allow submit
                      }
                      else if (element.type === 'select-one' && element.value !== "") {
                        setEnable = true;   // input changes, allow submit
                      }
                    }
                    if (setEnable) {
                      submitButton.disabled = false;
                    } else {
                      submitButton.disabled = true;
                    }
                  }
                </script>
              </form>
            </div>{# class card-body #}
          </div> {# class card #}
        </div>{# collapse #}
      </div>{# col of template #}
    </div>{# row of template #}
  {% endfor %}{# for each template #}
  </div>{# card-body top #}
</div>{# card top #}
