<div class="card border-default">
  <div class="card-header bg-default">
    <strong>Show Commands</strong>
  </div>
  <div class="card-body">
    <form id="switch_show_command_form"
          name="switch_show_command_form"
          action="{% url 'switches:switch_cmd_output' group.id switch.id %}"
          method="post">
      {% csrf_token %}
      <select name="command_id" data-bs-toggle="tooltip" title="Select command to run"
              aria-label="Select a Show-Command to run">
        <optgroup label="Commands available:">
        {% for c in switch.command_list.global_commands.all %}
          <option value="{{ c.id }}">{{ c.name }}</option>
        {% endfor %}
        </optgroup>
        {% if request.user.is_superuser or request.user.is_staff %}
          {% if switch.command_list.global_commands_staff.count %}
            <optgroup label="Staff commands:">
            {% for c in switch.command_list.global_commands_staff.all %}
              <option value="{{ c.id }}">{{ c.name }}</option>
            {% endfor %}
            </optgroup>
          {% endif %}
        {% endif %}
      </select>
      &nbsp;
      <button type="submit" id="button_run" name="button_run" class="btn btn-primary">
        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true" id="spinner_run_show"></span>
        <span id="spinner_button_run_text" data-bs-toggle="tooltip" title="Click here to run command!">Run</span>
      </button>
<script>
  document.getElementById('switch_show_command_form').addEventListener('submit', function(event) {
    const submitButton = document.getElementById('button_run');
    const spinner = submitButton.querySelector('.spinner-border');
    const spanText = document.getElementById('spinner_button_run_text');
    // Disable the button
    submitButton.disabled = true;
    // Show the spinner
    spinner.classList.remove('d-none');
    // Update text on button
    spanText.textContent = 'Running...';
  });
</script>
    </form>
  </div>
</div>
