{% load helpers %}
{% load static %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Vlans defined (GVRP
          {% if connection.gvrp_enabled %}
            Enabled
          {% else %}
            disabled
          {% endif %}
          )</strong>
      </div>
      <div class="panel-body">
        {% for vlanid,vlan in connection.vlans.items %}
          {% if vlan.type == VLAN_TYPE_NORMAL %}
            <div>{{ vlan|get_vlan_info_links }} {{ vlanid }}{% if vlan.name %} - {{ vlan.name }} {% endif %}
            {% if vlan.status == VLAN_STATUS_DYNAMIC %}
              <i class="fas cloud-download-alt" aria-hidden="true"
                  alt="MVRP/GVRP Image"
                  data-toggle="tooltip"
                  title="Vlan learned via MVRP or GVRP">
              </i>
            {% endif %}
            {% if vlan.voice %}
              &nbsp;
              <i class="fas fa-phone" aria-hidden="true"
                  alt="Voice Vlan"
                  data-toggle="tooltip"
                  title="Voice Vlan">
              </i>
            {% endif %}
            {% if vlan.igmp_snooping %}
              &nbsp;
              <i class="fas fa-project-diagram" aria-hidden="true"
                  alt="IGMP Snooping Enabled"
                  data-toggle="tooltip"
                  title="IGMP Snooping Enabled">
              </i>
            {% endif %}
            </div>
          {% endif %}
        {% endfor%}
      </div>
    </div>
