<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Recent Activity</strong>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-headings">
      <tr><th>When</th><th>Type</th><th>Activity</th><th>IP</th><th>User</th><th>Switch</th><th>Description</th></tr>
      {% for l in logs %}
        <tr>
          <td>{{ l.timestamp }}</td>
          <td>{{ l.get_type_display }}</td>
          <td>{{ l.get_action_display }}</td>
          <td>{{ l.ip_address }}</td>
          <td>{{ l.user }}</td>
          <td>{{ l.switch }}</td>
          <td>{{ l.description }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
