{% load helpers %}
{% load static %}

    <div class="card border-default">
      <div class="card-header bg-default">
        <strong>Power over Ethernet Info</strong>
      </div>
      <div class="card-body">
        {% if 1 or connection.poe_capable %}
          <div><strong>Total:</strong> {{ connection.poe_max_power }} Watts Available, {{ connection.poe_power_consumed }} W ({{ connection.poe_power_consumed|as_percentage_of:connection.poe_max_power }}) Used</div>
          {% for pse_index, pse in connection.poe_pse_devices.items %}
            <div><strong>PSE #{{ pse_index }}:</strong> {{ pse.status|get_poe_pse_status }},
              Max {{ pse.max_power }} Watts, Using {{ pse.power_consumed }} W ({{ pse.power_consumed|as_percentage_of:pse.max_power }}), Threshold = {{ pse.threshold }}%.
            </div>
          {% endfor %}
        {% else %}
          <div>Not found.</div>
        {% endif %}
      </div>
    </div>
