{% load helpers %}
{% load static %}

<div class="panel panel-default">
{% if connection.eth_addr_count == 0 and connection.neighbor_count == 0 %}
  <div class="panel-heading">
    <strong>No Ethernet addresses and no neighbors found!</strong>
  </div>
{% else %}
  <div class="table-responsive">
    <table class="table table-hover table-headings">
      <thead>
        <tr>
          <th>Interface Name</th>
          <th>Link</th>
          <th>Vlan</th>
          {% if connection.eth_addr_count > 0 %}
          <th>Ethernet Addresses ({{ connection.eth_addr_count }})</th>
          {% endif %}
          {% if connection.neighbor_count > 0 %}
          <th>Neighbors ({{ connection.neighbor_count }})</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
      {% for key,iface in connection.interfaces.items %}
        {% if iface.visible %}
          <tr class="{% cycle 'odd' 'even' %}" >
            <td
            {% if iface.admin_status %}
              {% if iface.oper_status %}
                bgcolor="{{ settings.BGCOLOR_IF_ADMIN_UP_UP }}">
              {% else %}
                bgcolor="{{ settings.BGCOLOR_IF_ADMIN_UP }}">
              {% endif %}
            {% else %}
                bgcolor="{{ settings.BGCOLOR_IF_ADMIN_DOWN }}">
            {% endif %}
            {{ switch|get_interface_info_links:iface }}
            {% if iface.description %}
              <abbr data-toggle="tooltip" title="{{ iface.description }}">{{ iface.name }}</abbr>
            {% else %}
              {{ iface.name }}
            {% endif %}
            {% include "_tpl_if_type_icons.html" %}
            <!-- ifkey = {{ iface.key }},  ifIndex = {{ iface.index }} -->
            </td>

            {% include "_tpl_if_linkspeed_td.html" %}

            <td>
              {% if iface.untagged_vlan > 0 %}
                <abbr data-toggle="tooltip" title="{{ connection.vlans|get_dictionary_value:iface.untagged_vlan }}">
                  {{ iface.untagged_vlan }}
                </abbr>
              {% else %}
                <span data-toggle="tooltip" title="Not applicable for this interface">n/a</span>
              {% endif %}
            </td>

            {% if connection.eth_addr_count > 0 %}
            <td>{# known ethernet addresses #}
              {% for macaddr, eth in iface.eth.items %}
                <div>
                  {{ eth|get_ethernet_info_links }}
                  {{ eth }}
                  {% if eth.vlan_id > 0 %}
                    (Vlan {{ eth.vlan_id }})
                  {% endif %}
                  {% if eth.address_ip4 %}
                     / {{ eth.address_ip4|get_ip4_info_links }}
                       {% if eth.hostname %}
                       <abbr data-toggle="tooltip" title="{{ eth.hostname }}">{{ eth.address_ip4 }}</abbr>
                       {% else %}
                       {{ eth.address_ip4 }}
                       {% endif %}
                  {% endif %}
                  {% if eth.vendor %}&nbsp;<small>({{ eth.vendor }})</small>{% endif %}
                </div>
              {% endfor %}
            </td>
            {% endif %}

            {% if connection.neighbor_count > 0 %}
            <td>{# lldp neigbors #}
              {% for lldp_index,neighbor in iface.lldp.items %}
                <div>{{ neighbor|get_lldp_info }}
                  <!-- lldp_index = {{ neighbor.index }} -->
                </div>
              {% endfor %}
            </td>
            {% endif %}

          </tr>

        {% endif %} {# visible and ethernet #}

      {% endfor %}
    </tbody>
    </table>

  </div> {# class table-responsive #}
{% endif %}
</div> {# class panel #}
