{% load helpers %}
{% load static %}

    <div class="card border-default">
      <div class="card-header bg-default">
        <strong>Timing Info</strong>
      </div>
      <div class="card-body">
        <table class="table table-striped w-auto">
          <thead>
          <tr><th>Name</th><th>Count</th><th>Time</th></tr>
          </thead>
          <tbody>
          {% for name,info in connection.timing.items %}
            <tr><td>{{ name }}</td><td>{{ info.0 }}</td><td>{{ info.1|floatformat:3 }}</td></tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
