{% load helpers %}
{% load static %}

<div class="card border-default mb-2">
  <div class="card-header bg-default">
    <strong>Power over Ethernet Info</strong>
  </div>
  <div class="card-body">
  {% if connection.poe_capable %}
    <table class="table table-striped table-hover table-headings w-auto">
      <tbody>
        <tr><td><strong>Total:</strong></td><td>{{ connection.poe_max_power }} Watts Available, {{ connection.poe_power_consumed }} W ({{ connection.poe_power_consumed|as_percentage_of:connection.poe_max_power }}) Used</td></tr>
      {% for pse_index, pse in connection.poe_pse_devices.items %}
        <tr><td><strong>PSE #{{ pse_index }}:</strong></td><td>{{ pse.status|get_poe_pse_status }},
          Max {{ pse.max_power }} Watts, Using {{ pse.power_consumed }} W ({{ pse.power_consumed|as_percentage_of:pse.max_power }}), Threshold = {{ pse.threshold }}%.
          {% if pse.description %}<br />{{ pse.description}}{% endif %}
        </td></tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div>Not found.</div>
  {% endif %}
  </div>
</div>
