{% load static %}
 <!--  iface.type = {{ iface.type }} -->
{% if iface.is_routed %}
  &nbsp;
  <i class="fas fa-cogs" aria-hidden="true"
       alt="Routed Mode Interface"
       data-toggle="tooltip"
       title="Routed Mode Interface">
  </i>
{% endif %}
{% if iface.is_tagged %}
  &nbsp;
  <i class="fas fa-ellipsis-v" aria-hidden="true"
       alt="Tagged/Trunked Interface"
       data-toggle="tooltip"
       title="Tagged/Trunked Interface, tagged vlans {% for vlan_id in iface.vlans %}{{ vlan_id }} {% endfor %}">
  </i>
{% endif %}
{% if iface.igmp_snooping %}
  &nbsp;
  <i class="fas fa-project-diagram" aria-hidden="true"
       alt="IGMP Snooping Enabled"
       data-toggle="tooltip"
       title="IGMP Snooping Enabled">
  </i>
{% endif %}
{% if iface.lacp_master_index > 0 %}
  &nbsp;
  <i class="fas fa-link" aria-hidden="true"
       alt="LACP Member Interface"
       data-toggle="tooltip"
       title="This interface is a member of LACP interface {{ iface.lacp_master_name }}">
  </i>
{% endif %}
{% if iface.type == IF_TYPE_LAGG %}
  &nbsp;
  <i class="fas fa-link" aria-hidden="true"
       alt="LACP Master Interface"
       data-toggle="tooltip"
       title="This interface is an LACP interface! Members are: {% for if_index, if_name in iface.lacp_members.items %}{{ if_name }} {% endfor %}
       ">
  </i>
{% elif iface.type == IF_TYPE_VIRTUAL %}
  &nbsp;
  <i class="far fa-smile" aria-hidden="true"
       alt="Virtual Interface"
       data-toggle="tooltip"
       title="Virtual Interface">
  </i>
{% elif iface.type == IF_TYPE_LOOPBACK %}
  &nbsp;
  <i class="fas fa-spinner" aria-hidden="true"
       alt="Loopback Interface"
       data-toggle="tooltip"
       title="Software Loopback Interface">
  </i>
{% elif iface.type == IF_TYPE_TUNNEL %}
  &nbsp;
  <i class="fas fa-archway" aria-hidden="true"
       alt="Tunnel Interface"
       data-toggle="tooltip"
       title="Tunnel Interface">
  </i>
  {% elif iface.type == IF_TYPE_MPLS_TUNNEL %}
  &nbsp;
  <i class="fas fa-archway" aria-hidden="true"
       alt="MPLS Tunnel Interface"
       data-toggle="tooltip"
       title="MPLS Tunnel Interface">
  </i>
{% elif iface.type == IF_TYPE_MCAST %}
  &nbsp;
  <i class="fas fa-sitemap" aria-hidden="true"
       alt="Multicast Interface"
       data-toggle="tooltip"
       title="Multicast Interface">
  </i>
{% elif iface.type == IF_TYPE_NONE %}
  &nbsp;
  <!--
    <i class="far fa-question-circle" aria-hidden="true"
       alt="Unknown Interface Type"
       data-toggle="tooltip"
       title="Unknown Interface Type">
  </i>
  -->
  <span class="mdi mdi-crosshairs-question"
        alt="Unknown Interface Type"
        data-toggle="tooltip"
        title="Unknown Interface Type">
  </span>
{% endif %}
{% if iface.voice_vlan %}
  &nbsp;
  <i class="fas fa-phone" aria-hidden="true"
       alt="Voice VLAN"
       data-toggle="tooltip"
       title="Voice VLAN {{ iface.voice_vlan }}">
  </i>
{% endif %}
