{% load helpers %}
{% load static %}

<td
  {% if iface.admin_status %}
    {% if iface.oper_status %}
      bgcolor="{{ settings.BGCOLOR_IF_ADMIN_UP_UP }}">
    {% else %}
      bgcolor="{{ settings.BGCOLOR_IF_ADMIN_UP }}">
    {% endif %}
    {{ switch|get_interface_info_links:iface }}
    {% if connection.can_change_admin_status %}
      <a href="{% url 'switches:admin_change' group.id switch.id iface.key 0 %}"
        data-toggle="tooltip"
        title="Click here to Disable {{ iface.name }}"
      {% if request.user.profile.are_you_sure %}
        onclick="return confirm_change('Are you sure you want to DISABLE {{ iface.name }}?')"
      {% endif %}
      >
    {% endif %}
  {% else %}
    bgcolor="{{ settings.BGCOLOR_IF_ADMIN_DOWN }}">
    {{ switch|get_interface_info_links:iface }}
    {% if connection.can_change_admin_status %}
    <a href="{% url 'switches:admin_change' group.id switch.id iface.key 1 %}"
       data-toggle="tooltip"
       title="Click here to Enable {{ iface.name }}"
    {% if request.user.profile.are_you_sure %}
       onclick="return confirm_change('Are you sure you want to ENABLE {{ iface.name }}?')"
    {% endif %}
    >
    {% endif %}
  {% endif %}
  {{ iface.name }}{% if connection.can_change_admin_status %}</a>{% endif %}
  {% include "_tpl_if_type_icons.html" %}
  <!-- ifkey = {{ iface.key }}, ifIndex = {{ iface.index }}, port_id = {{ iface.port_id }} -->
</td>
