{% load helpers %}
{% load static %}

<!-- Modal untagged and taggged vlan edit form -->
<div class="modal fade" id="tagEditForm_{{ iface.key|underscore }}" data-bs-keyboard="true" tabindex="-1" aria-labelledby="tagEditForm_{{ iface.key|underscore }}_label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-4" id="tagEditForm_{{ iface.key|underscore }}_label">Edit vlans on interface {{ iface.name }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {# THIS IS THE VLAN CHANGE FORM #}
        {# NOTE: "name" attributes on multiple copies of this modal form can be reused between forms, #}
        {# but "id" MUST be unique! See views.py, class InterfaceTagsEdit(), this reads attributes by name #}
        <form
          id="tags_edit_{{ iface.key|underscore }}" name="tags_edit_{{ iface.key|underscore }}"
          action="{% url 'switches:tags_edit' group.id switch.id iface.key %}"
          method="post"
          >
          {% csrf_token %}
          <div class="fw-bolder mb-2">Set the untagged (pvid) vlan:</div>
          <div class="mb-2">
            <select name="pvid" data-bs-toggle="tooltip"
                    title="Set the untagged vlan here"
                    id="new_pvid_{{ iface.key|underscore }}"
                    aria-label="Select untagged VLAN">
              {% for vlan_id,vlan in connection.allowed_vlans.items %}
              <option
                {% if vlan_id == iface.untagged_vlan %} selected {% endif %}
                value="{{ vlan_id }}">{{ vlan_id }}
                {% if vlan.name %} - {{ vlan.name }} {% endif %}
              </option>
              {% endfor %}
            </select>
          </div>
          <div class="fw-bolder mb-2">Select the 802.1q tagged vlans:</div>
          <div class="fst-italic mb-2">Note: not selecting any tagged vlan<br />makes the interface an 'access' port!</div>
          {# ALLOW ALL checkbox #}
          {% if connection.can_allow_all %}
          <div class="mb-2">
            <input class="form-check-input" type="checkbox" value="yes"
                   name="allow_all" id="allow_all_{{ iface.key|underscore }}" onclick="allow_all_clicked_{{ iface.key|underscore }}(this)">
                  <label class="form-check-label" for="allow_all_{{ iface.key|underscore }}">Allow ALL vlans as tagged.</label>
          </div>
          <div class="fst-italic mb-2">Or select specific vlans to allow:</div>
          {% endif %}
          {# VLANS TO ALLOW #}
            <fieldset><legend>VLANS to tag on 802.1q trunk</legend>
          {% for vlan_id, vlan in connection.vlans.items %}
            {% if vlan_id in connection.allowed_vlans.keys %}
              {# needs work to mark tag enabled vlan with checkbox! #}
                  <div><input class="form-check-input" type="checkbox" value="{{vlan_id}}"
                              name="tagged_vlans" id="tagged_vlan_{{ iface.key|underscore }}_{{vlan_id}}"
                  {% if vlan_id in iface.vlans %}
                              checked
                  {% endif %}
                  {% if connection.can_allow_all %}
                              onclick="tagged_vlan_clicked_{{ iface.key|underscore }}(this)"
                  {% endif %}
                  >
                  <label class="form-check-label" for="tagged_vlan_{{ iface.key|underscore }}_{{ vlan_id }}">
                  {{vlan_id}}{% if vlan.name %} - {{ vlan.name }}{% endif %}
                  </label></div>
            {% else %}{# user does not have rights to this vlan #}
                  <div><input class="form-check-input" type="checkbox" disabled value="{{vlan_id}}" id="disabled_tagged_vlan_{{ iface.key|underscore }}_{{vlan_id}}"
                  {% if vlan_id in iface.vlans %}
                    checked
                  {% endif %}
                  >
                  <label class="form-check-label" for="disabled_tagged_vlan_{{ iface.key|underscore }}_{{ vlan_id }}">
                  {{vlan_id}}{% if vlan.name %} - {{ vlan.name }}{% endif %}
                  </label></div>
            {% endif %}
          {% endfor %}
            </fieldset>
          {# SUBMIT BUTTON #}
          <div class="text-end align-middle mt-2">
            {# add spinner once submit is clicked #}
            <button type="submit" class="btn btn-warning" id="spinnerSubmitButton_{{ iface.key|underscore }}"
              {% if request.user.profile.are_you_sure %}
              onclick="return confirm_change('Are you sure you want change the vlans on interface {{ iface.name }}? This may disconnect attached devices!')"
              {% endif %}
            >
              <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true" id="spinner_{{ iface.key|underscore }}"></span>
              <span id="spinnerSubmitText_{{ iface.key|underscore }}"
                    data-bs-toggle="tooltip" title="Click here to change untagged and 802.1q-tagged vlans on interface '{{ iface.name }}'!">
                Update Vlans</span>
            </button>
          </div>
          {# submit click spinner processing #}
          <script>
            document.getElementById('tags_edit_{{ iface.key|underscore }}').addEventListener('submit', function(event) {
              const submitButton = document.getElementById('spinnerSubmitButton_{{ iface.key|underscore }}');
              const spinner = submitButton.querySelector('.spinner-border');
              const spanText = document.getElementById('spinnerSubmitText_{{ iface.key|underscore }}');
              // Disable the button
              submitButton.disabled = true;
              // Show the spinner
              spinner.classList.remove('d-none');
              // Update text on button
              spanText.textContent = 'Updating...';
            });

          {% if connection.can_allow_all %}
            function allow_all_clicked_{{ iface.key|underscore }}(allow_all) {
              if (allow_all.checked) {
                // uncheck all individual vlans
                var vlan_checkboxes = document.querySelectorAll('input[name="tagged_vlans"]');
                for (var i = 0; i < vlan_checkboxes.length; i++) { // zero-based array!
                  vlan_checkboxes[i].checked = false;
                }
              }
            }
            function tagged_vlan_clicked_{{ iface.key|underscore }}(tagged_vlan) {
              // uncheck 'Allow All'
              if (tagged_vlan.checked ) {
                var allow_all = document.getElementById(id="allow_all_{{ iface.key|underscore }}")
                allow_all.checked = false
              }
            }
          {% endif %}
          </script>
        </form>
      </div> {# modal-body #}
    </div> {# modal-content #}
  </div> {# modal-dialog #}
</div> {# modal #}
<!-- End modal form for tags edit -->
