{% load helpers %}
{% load static %}

<td
  {% if iface.admin_status ==  IF_ADMIN_STATUS_UP %}
    {% if iface.oper_status == IF_OPER_STATUS_UP %}
      bgcolor="{{ settings.BGCOLOR_IF_ADMIN_UP_UP }}">
    {% else %}
      bgcolor="{{ settings.BGCOLOR_IF_ADMIN_UP }}">
    {% endif %}
    {{ switch|get_interface_info_links:iface }}
    <a href="{% url 'switches:admin_change' group.id switch.id iface.index IF_ADMIN_STATUS_DOWN %}"
      data-toggle="tooltip"
      title="Click here to Disable {{ iface.name }}"
    {% if request.user.profile.are_you_sure %}
      onclick="return confirm_change('Are you sure you want to DISABLE {{ iface.name }}?')"
    {% endif %}
    >
  {% else %}
    bgcolor="{{ settings.BGCOLOR_IF_ADMIN_DOWN }}">
    {{ switch|get_interface_info_links:iface }}
    <a href="{% url 'switches:admin_change' group.id switch.id iface.index IF_ADMIN_STATUS_UP %}"
       data-toggle="tooltip"
       title="Click here to Enable {{ iface.name }}"
    {% if request.user.profile.are_you_sure %}
       onclick="return confirm_change('Are you sure you want to ENABLE {{ iface.name }}?')"
    {% endif %}
    >
  {% endif %}
  {{ iface.name }}</a>
  {% if iface.is_routed %}
    &nbsp;
    <img src="{% static 'img/routed-mode.png' %}"
         alt="Routed Mode Interface"
         data-toggle="tooltip"
         title="Routed Mode Interface">
  {% endif %}
  {% if iface.is_tagged %}
    &nbsp;
    <img src="{% static 'img/trunk.png' %}"
         alt="Tagged/Trunked Interface"
         data-toggle="tooltip"
         title="Tagged/Trunked Interface, tagged vlans {% for vlan_id in iface.vlans %}{{ vlan_id }} {% endfor %}">
  {% endif %}
  {% if iface.lacp_master_index > 0 %}
    &nbsp;
    <img src="{% static 'img/lacp.png' %}"
         alt="LACP Member Interface"
         data-toggle="tooltip"
         title="This interface is a member of LACP interface {{ iface.lacp_master_name }}">
  {% endif %}
  {% if iface.type == IF_TYPE_LAGG %}
    &nbsp;
    <img src="{% static 'img/lacp.png' %}"
         alt="LACP Master Interface"
         data-toggle="tooltip"
         title="This interface is an LACP interface! Members are: {% for if_index, if_name in iface.lacp_members.items %}{{ if_name }} {% endfor %}
          ">
  {% endif %}
  {% if iface.gvrp_enabled %}
    &nbsp;
    <img src="{% static 'img/mvrp.png' %}"
         alt="MVRP or GVRP Enabled on this interface"
         data-toggle="tooltip"
         title="MVRP or GVRP is Enabled on this interface">
  {% endif %}
  {% if iface.voice_vlan %}
    &nbsp;
    <img src="{% static 'img/voice-vlan.png' %}"
         alt="Voice VLAN"
         data-toggle="tooltip"
         title="Voice VLAN {{ iface.voice_vlan }}">
  {% endif %}
  <!-- ifIndex = {{ iface.index }}, port_id = {{ iface.port_id }} -->
</td>
