{% extends '_base.html' %}

{% block title %}Stats{% endblock %}

{% block content %}

{# see https://codepen.io/sinairv/pen/XjZyWP #}
<div class="container">
  <div class="row">

    <div class="col-md-2">
      <div class="panel panel-default">
          <div class="panel-heading">
              <strong>OpenL2M Statistics</strong>
          </div>
          <div class="table-responsive">
            <table class="table table-hover table-headings">
            {% for label,value in db_items.items %}
              <tr><td>
                <span class="pull-right">{{ value }}</span>
                <p class="list-group-item-heading">{{ label }}</p>
              </td></tr>
            {% endfor %}
            </table>
          </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Usage</strong>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-headings">
          {% for label,value in usage.items %}
            <tr><td>{{ label }}:
              <span class="pull-right">{{ value }}</span>
            </td></tr>
          {% endfor %}
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Environment</strong>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-headings">
          {% for label,value in environment.items %}
            <tr><td>{{ label }}:<span class="pull-right">{{ value }}</span></td>
            </tr>
          {% endfor %}
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Active Users</strong>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-headings">
          {% for u in user_list %}
            <tr><td>
              {% if request.user.is_superuser or request.user.is_staff %}
              <a href="{% url 'users:info' u.id %}"
               data-bs-toggle="tooltip"
               title="Click here to see info on this user...">{{ u.username }}</a>
              {% else %}
              {{ u.username }}
              {% endif %}
              {% if u.hostname %}
                (<abbr data-bs-toggle="tooltip" title="{{ u.hostname }}">{{ u.remote_ip }}</abbr>)
              {% else %}
               ({{ u.remote_ip }})
              {% endif %}
              {% if request.user.is_superuser %}
              <a href="{% url 'switches:admin_activity' %}?user={{ u.id }}"
               data-bs-toggle="tooltip" title="Click here to see user activity logs...">Activity logs</a>
              {% endif %}
             </td></tr>
          {% endfor %}
          </table>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
