{% extends '_base.html' %}

{% block title %}Error!{% endblock %}

{% block content %}
<div class="row">
  {% if error.details %}
    <div class="col-md-8">
  {% else %}
    <div class="col-md-4">
  {% endif %}
      <div class="card border-danger">
          <div class="card-header bg-danger">
              <strong>An Error Has Occured</strong>
          </div>

          <div class="card-body">
            <p class="card-text">{{ error.description }}</p>
            {% if error.details %}
              <p>
                <a data-bs-toggle="collapse" href="#details" aria-expanded="false" aria-controls="details">Click to see details</a>
              </p>
              <div id="details" class="collapse">
                <pre>{{ error.details }}</pre>
              </div>
            {% endif %}
            {% if switch_id %}
              <p><a href="{% url 'switches:groups' %}">Go back to the Menu</a>, or <a href="{% url 'switches:switch_basics' group_id switch_id %}">Retry device.</a></p>
            {% endif %}
          </div>
      </div>
    </div>
</div>
{% endblock %}
