{% extends '_base.html' %}

{# This shows the menu of options for a switch #}

{% block javascript %}
{# this generates the date/time picker #}
<script type="text/javascript">
    $(document).ready(function() {
      // Flatpickr time selector settings
      // invoked by setting id="dateTime" on element
      $("#dateTime").flatpickr({
        allowInput: true,
        enableSeconds: false,
        enableTime: true,
        minuteIncrement: {{settings.TASK_SUBMIT_MINUTE_INCREMENT }},
        time_24hr: {{ settings.FLATPICKR_24HR_OPTION }},
        dateFormat: "{{ settings.FLATPICKR_DATE_FORMAT }}",
        minDate: "today",
        maxDate: new Date().fp_incr({{ settings.TASK_SUBMIT_MAX_DAYS_IN_FUTURE }}),    // 28 days from now
      });
    });
</script>
{% endblock %}

{% block title %}Viewing '{{ switch.name }}'{% endblock %}

{% block content %}

{% load helpers %}
{% load static %}

<div class="container">

  {# this is the header "menu" bar #}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <td>
            {{ switch|get_switch_info_url_links:request.user }}
            {% if switch.description %}
              <span data-toggle="tooltip" title="{{ switch.description }}"><strong>{{ switch.name }}</strong></span>
            {% else %}
              <strong>{{ switch.name }}</strong>
            {% endif %}
            {% if tasks %}
              <span data-toggle="tooltip" title="There are scheduled tasks for this switch. For details, see the Switch Information tab!">
                <i class="fas fa-calendar-alt" aria-hidden="true"></i>
              </span>
            {% endif %}
            {% if switch.read_only or group.read_only or user.profile.read_only %}
              <span data-toggle="tooltip" title="This switch is set as Read-Only by the administrator. You can not make any changes!">
                <i class="far fa-hand-point-right" aria-hidden="true"></i>&nbsp;<small>Read-Only</small>&nbsp;<i class="far fa-hand-point-left" aria-hidden="true"></i>
              </span>
            {% endif %}
          </td>

          {% if request.user.is_superuser and connection.hwinfo_needed %}
          <td>
            <a href="{% url 'switches:switch_hw_info' group.id switch.id %}"
              data-toggle="tooltip"
              title="Read additional hardware details for this switch! This may take some time..."
              class="btn btn-primary">
              <i class="fas fa-info-circle" aria-hidden="true"></i>
              More Hardware Details
            </a>
          </td>
          {% endif %}

          <td>
            <a href="{% url 'switches:switch_arp_lldp' group.id switch.id %}"
               data-toggle="tooltip"
               title="Click here to see or refresh the Ethernet/ARP/LLDP details for this switch! This may take some time..."
               class="btn btn-primary">
              {% if view == 'arp_lldp' %}
                <i class="fas fa-sync" aria-hidden="true"></i>
                Refresh
              {% else %}
              <i class="fas fa-sitemap" aria-hidden="true"></i>
                Read
              {% endif %} Eth/Arp/LLDP
            </a>
          </td>

          {% if connection.save_needed %}
          <td>
            <a href="{% url 'switches:switch_save_config' group.id switch.id view %}"
               data-toggle="tooltip"
               title="Click here to save changes to the startup config of the switch!"
               class="btn btn-warning">
              <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
                Save Changes
              <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
            </a>
          </td>
          {% endif %}

          <td>
            <a href="{% url 'switches:switch_reload' group.id switch.id view %}"
               data-toggle="tooltip"
               title="Click here to fully reload all data for this switch! This may take some time..."
               class="btn btn-primary">
              <i class="fas fa-sync" aria-hidden="true"></i>
              Reload All
            </a>
          </td>

        </tr>
      </thead>
    </table>
  </div>


  {# here are the tabs of this page, depending on "view", see https://codepen.io/sinairv/pen/XjZyWP #}

  <ul class="nav nav-tabs">
    {% if cmd and cmd.state == 'run' %}

      <li>{% include "_menu_interfaces.html" %}</li>
      {% if bulk_edit %}
        <li>{% include "_menu_bulk_edit.html" %}</li>
      {% endif %}
      <li>{% include "_menu_switch_info.html" %}</li>
      <li class="active">{% include "_menu_command_output.html" %}</li>

    {% else %}

      {% if view == 'basic' %}
        <li class="active">{% include "_menu_interfaces.html" %}</li>
        {% if bulk_edit %}
            <li>{% include "_menu_bulk_edit.html" %}</li>
        {% endif %}
        <li>{% include "_menu_switch_info.html" %}</li>
      {% endif %}

      {% if view == 'arp_lldp' %}
        <li>{% include "_menu_interfaces.html" %}</li>
        {% if bulk_edit %}
            <li>{% include "_menu_bulk_edit.html" %}</li>
        {% endif %}
        <li class="active">{% include "_menu_arp_lldp.html" %}</li>
        <li>{% include "_menu_switch_info.html" %}</li>
      {% endif %}

      {% if view == 'hw_info' %}
        <li>{% include "_menu_interfaces.html" %}</li>
        {% if bulk_edit %}
            <li>{% include "_menu_bulk_edit.html" %}</li>
        {% endif %}
        <li class="active">{% include "_menu_switch_info.html" %}</li>
      {% endif %}

    {% endif %}

    {% if connection.can_run_commands and switch.has_global_commands %}
      <li>{% include "_menu_switch_commands.html" %}</li>
    {% endif %}

    <li>{% include "_menu_logs.html" %}</li>

    {% if connection.warnings %}
      <li>{% include "_menu_warnings.html" %}</li>
    {% endif %}

  </ul>

  {# and tab content, obviously! #}
  <div class="tab-content">

    {% if cmd and cmd.state == 'run' %}
      <div class="tab-pane" id="tab_interfaces">
        {% include "_tab_if_basics.html" %}
      </div>
      {% if bulk_edit %}
        <div class="tab-pane" id="tab_bulkedit">
          {% include "_tab_if_bulkedit.html" %}
        </div>
      {% endif %}
      <div class="tab-pane" id="tab_info">
        {% include "_tab_info.html" %}
      </div>
      <div class="tab-pane active" id="tab_cmd_output">
        {% include "_tab_cmd_output.html" %}
      </div>

    {% else %}

      {% if view == 'basic' %}
        <div class="tab-pane active" id="tab_interfaces">
          {% include "_tab_if_basics.html" %}
        </div>
        {% if bulk_edit %}
          <div class="tab-pane" id="tab_bulkedit">
            {% include "_tab_if_bulkedit.html" %}
          </div>
        {% endif %}
        <div class="tab-pane" id="tab_info">
          {% include "_tab_info.html" %}
        </div>
        <div class="tab-pane" id="tab_logs">
            {% include "_tab_logs.html" %}
        </div>
      {% endif %}

      {% if view == 'arp_lldp' %}
        <div class="tab-pane" id="tab_interfaces">
          {% include "_tab_if_basics.html" %}
        </div>
        {% if bulk_edit %}
          <div class="tab-pane" id="tab_bulkedit">
            {% include "_tab_if_bulkedit.html" %}
          </div>
        {% endif %}
        <div class="tab-pane active" id="tab_arp_lldp">
          {% include "_tab_if_arp_lldp.html" %}
        </div>
        <div class="tab-pane" id="tab_info">
          {% include "_tab_info.html" %}
        </div>
      {% endif %}

      {% if view == 'hw_info' %}
        <div class="tab-pane" id="tab_interfaces">
          {% include "_tab_if_basics.html" %}
        </div>
        {% if bulk_edit %}
          <div class="tab-pane" id="tab_bulkedit">
            {% include "_tab_if_bulkedit.html" %}
          </div>
        {% endif %}
        <div class="tab-pane active" id="tab_info">
          {% include "_tab_info.html" %}
        </div>
      {% endif %}

    {% endif %}

    {% if connection.can_run_commands and switch.has_global_commands %}
      <div class="tab-pane" id="tab_cmd_list">
        {% include "_tab_cmd_list.html" %}
      </div>
    {% endif %}

    <div class="tab-pane" id="tab_logs">
      {% include "_tab_logs.html" %}
    </div>

    {% if connection.warnings %}
      <div class="tab-pane" id="tab_warnings">
        {% include "_tab_warnings.html" %}
      </div>
    {% endif %}

  </div> {# class tab-content #}

</div> {# class container #}

{% endblock %}
