{% extends '_base.html' %}

{% block title %}Reloading '{{ switch.name }}'{% endblock %}

<!-- This show the list of switches a user has access to -->
{% block content %}
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Ready to reload switch &quot;{{ switch.name }}&quot;</strong>
            </div>
            <div>&nbsp;<a href="{% url 'switches:switch_basics' group.id switch.id %}">Click to go back to switch &quot;{{ switch.name }}&quot;. Please be patient ...</a></div>
        </div>
    </div>
</div>
{% endblock %}
