{% extends '_base.html' %}

{# This shows the menu of options for a switch #}

{% block title %}Viewing '{{ switch.name }}'{% endblock %}

{% block content %}

{% load helpers %}
{% load static %}

{# this is the header "menu" bar #}
<!-- device menu bar -->
<div class="container-fluid">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <td>
            {{ switch|get_switch_info_url_links:request.user }}
            {% if switch.description %}
              <span data-bs-toggle="tooltip" data-bs-title="{{ switch.description }}"><strong>{{ switch.name }}</strong></span>
            {% else %}
              <strong>{{ switch.name }}</strong>
            {% endif %}
            {% if connection.read_only %}
              <span data-bs-toggle="tooltip" data-bs-title="This switch is set as Read-Only by the administrator. You can not make any changes!">
                <i class="far fa-hand-point-right" aria-hidden="true"></i>&nbsp;<small>Read-Only</small>&nbsp;<i class="far fa-hand-point-left" aria-hidden="true"></i>
              </span>
            {% endif %}
          </td>

        {% if connection.show_interfaces %}

          {% if connection.can_get_client_data %}
          <td>
<!--
            <a href="{% url 'switches:switch_arp_lldp' group.id switch.id %}"
               class="btn btn-primary" data-bs-toggle="tooltip"
               data-bs-title="Click here to see or refresh the Ethernet/ARP/LLDP details for this switch! This may take some time..."
               >
              {% if view == 'arp_lldp' %}
                <i class="fa-solid fa-sync" aria-hidden="true"></i>
                Refresh
              {% else %}
              <i class="fa-solid fa-sitemap" aria-hidden="true"></i>
                Read
              {% endif %} Eth/Arp/LLDP
            </a>
-->
            <form
              action="{% url 'switches:switch_arp_lldp' group.id switch.id %}"
              method="post">
              {% csrf_token %}
              <button type="submit" name="Arp_Lldp" value="SUBMIT"
                class="btn btn-primary"
                data-bs-toggle="tooltip"
                data-bs-title="Click here to see or refresh the Ethernet/ARP/LLDP details for this switch! This may take some time..."
              >
              {% if view == 'arp_lldp' %}
                <i class="fa-solid fa-sync" aria-hidden="true"></i> Refresh
              {% else %}
                <i class="fa-solid fa-sitemap" aria-hidden="true"></i> Read
              {% endif %} Eth/Arp/LLDP
              </button>
          </form>

          </td>
          {% endif %}

          {% if connection.save_needed %}
          <td>
<!--
            <a href="{% url 'switches:switch_save_config' group.id switch.id %}"
               data-bs-toggle="tooltip"
               data-bs-title="Click here to save changes to the startup config of the switch!"
               class="btn btn-warning">
              <i class="fa-solid fa-exclamation-triangle" aria-hidden="true"></i>
                Save Changes
              <i class="fa-solid fa-exclamation-triangle" aria-hidden="true"></i>
            </a>
-->
            <form
              action="{% url 'switches:switch_save_config' group.id switch.id %}"
              method="post">
              {% csrf_token %}
              <button type="submit" name="Reload" value="SUBMIT"
                class="btn btn-warning"
                data-bs-toggle="tooltip"
                data-bs-title="Click here to save changes to the startup config of the switch!"
              >
                <i class="fa-solid fa-exclamation-triangle" aria-hidden="true"></i>
                Save Changes
                <i class="fa-solid fa-exclamation-triangle" aria-hidden="true"></i>
              </button>
            </form>

          </td>
          {% endif %}

          {% if connection.can_reload_all %}
          <td>
            <!--
            <a href="{% url 'switches:switch_reload' group.id switch.id view %}"
               data-bs-toggle="tooltip"
               data-bs-title="Click here to fully reload all data for this switch! This may take some time..."
               class="btn btn-primary">
              <i class="fa-solid fa-sync" aria-hidden="true"></i> Reload All
            </a>
          -->
            <form
              action="{% url 'switches:switch_reload' group.id switch.id view %}"
              method="post">
              {% csrf_token %}
              <button type="submit" name="Reload" value="SUBMIT"
                class="btn btn-primary"
                data-bs-toggle="tooltip"
                data-bs-title="Click here to fully reload all data for this switch! This may take some time..."
              >
                <i class="fa-solid fa-sync" aria-hidden="true"></i> Reload All
              </button>
            </form>
          </td>
          {% endif %}

        {% endif %} {# if connection.show_interfaces #}
        </tr>
      </thead>
    </table>
  </div> {# table-responsive #}
</div> {# container-fluid #}
<!-- end device menu bar -->

{# here are the tabs of this page, depending on "view", see https://fastbootstrap.com/components/tabs/ #}
<!-- device tabs -->
<div class="container-fluid">

{% if  connection.show_interfaces %}
  {# the tabs for devices with interfaces #}
  <!-- device menu tabs -->
  <ul class="nav nav-tabs" role="tablist">
    {% if cmd and cmd.state == 'run' %}

      <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
      data-bs-title="Interfaces information">
        {% include "_menu_interfaces.html" with state="" %}
      </li>
      {% if bulk_edit %}
        <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
        data-bs-title="The interfaces Bulk Edit form">
          {% include "_menu_bulk_edit.html" %}
        </li>
      {% endif %}
      {% if edit_vlans %}
        <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
        data-bs-title="The Edit VLANs form">
          {% include "_menu_edit_vlans.html" %}
        </li>
      {% endif %}
      <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
      data-bs-title="General device information, such as OS, etc.">
        {% include "_menu_switch_info.html" with state="" %}
      </li>
      <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
      data-bs-title="Command output">
        {% include "_menu_command_output.html" with state="active" %}
      </li>

    {% else %}{# device with interfaces, no run-output #}

      {% if view == 'basic' %}
      <!-- BASIC INTERFACE TABS -->
      <!--
      Comments: the tooltip works in the LI element, but NOT on a span around the A element for the tab.!
      Problem: the active tab is set in the A element class="nav-link active"
      So we pass this into the included templates as a separate variable!
      -->
        <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
        data-bs-title="Interfaces information">
          {% include "_menu_interfaces.html" with state="active" %}
        </li>
        {% if bulk_edit %}
          <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
          data-bs-title="The interfaces Bulk Edit form">
            {% include "_menu_bulk_edit.html" %}
          </li>
        {% endif %}
        {% if edit_vlans %}
          <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
          data-bs-title="The Edit VLANs form">
            {% include "_menu_edit_vlans.html" %}
          </li>
        {% endif %}
        <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
        data-bs-title="General device information, such as OS, etc.">
          {% include "_menu_switch_info.html" with state="" %}
        </li>
      {% endif %}

      {% if view == 'arp_lldp' %}
      <!-- ARP-LLDP TABS -->
      <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
      data-bs-title="Interfaces information">
          {% include "_menu_interfaces.html" with state="" %}
        </li>
        {% if bulk_edit %}
          <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
          data-bs-title="The interfaces Bulk Edit form">
            {% include "_menu_bulk_edit.html" %}
          </li>
        {% endif %}
        {% if edit_vlans %}
          <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
          data-bs-title="The Edit VLANs forms">
            {% include "_menu_edit_vlans.html" %}
          </li>
        {% endif %}
        <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
        data-bs-title="Interface details such as ethernet address, ARP, LLDP, etc.">
          {% include "_menu_arp_lldp.html" with state="active" %}
        </li>
        <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
        data-bs-title="General device information, such as OS, etc.">
          {% include "_menu_switch_info.html" with state="" %}
        </li>
      {% endif %}

      {% if view == 'hw_info' %}
      <!-- HW-INFO TABS -->
        <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
        data-bs-title="Interfaces information">
          {% include "_menu_interfaces.html" with state="" %}
        </li>
        {% if bulk_edit %}
          <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
          data-bs-title="The interfaces Bulk Edit form">
            {% include "_menu_bulk_edit.html" %}
          </li>
        {% endif %}
        {% if create_vlans %}
          <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
          data-bs-title="The Edit VLANs forms">
            {% include "_menu_create_vlans.html" %}
          </li>
        {% endif %}
        <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
        data-bs-title="General device information, such as OS, etc.">
          {% include "_menu_switch_info.html" with state="active" %}
        </li>
      {% endif %}

    {% endif %}{# device with interfaces, no run-output #}

  {# devices with interfaces, run-commands and templates #}
  {% if connection.can_run_commands %}
    {% if switch.command_list.global_commands.count %}
    <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
    data-bs-title="Possible show commands for this device">
      {% include "_menu_switch_commands.html" with state="" %}
    </li>
    {% elif request.user.is_staff or request.user.is_superuser %}
      {% if switch.command_list.interface_commands_staff.count or switch.command_list.global_commands_staff.count %}
      <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
      data-bs-title="Possible show commands for this device">
        {% include "_menu_switch_commands.html" with state="" %}
      </li>
      {% endif %}
    {% endif %}
    {% if switch.command_templates.count %}
    <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
    data-bs-title="Command templates for this device">
      {% include "_menu_command_templates.html" %}
    </li>
    {% endif %}
  {% endif %}


  <!-- Every menu gets logs and warning -->
  <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
  data-bs-title="{{ settings.RECENT_SWITCH_LOG_COUNT }} most recent OpenL2M activity logs for this device">
    {% include "_menu_logs.html" %}
  </li>

  {% if connection.warnings %}
    <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
    data-bs-title="Warnings for this device">
      {% include "_menu_warnings.html" %}
    </li>
  {% endif %}

  </ul>{# nav nav-tabs #}
  <!-- end device menu tabs -->

  <!-- menu tabs contents -->
  <div class="tab-content" id="tab-content">

    {% if cmd and cmd.state == 'run' %}
      <!-- command output contents -->
      <div class="tab-pane" id="tab_interfaces" role="tabpanel" aria-labelledby="tab_interfaces">
        {% include "_tab_if_basics.html" %}
      </div>
      {% if bulk_edit %}
        <div class="tab-pane" id="tab_bulkedit" role="tabpanel" aria-labelledby="tab_bulkedit">
          {% include "_tab_if_bulkedit.html" %}
        </div>
      {% endif %}
      {% if edit_vlans %}
        <div class="tab-pane" id="tab_edit_vlans" role="tabpanel" aria-labelledby="tab_edit_vlans">
          {% include "_tab_edit_vlans.html" %}
        </div>
      {% endif %}
      <div class="tab-pane" id="tab_info" role="tabpanel" aria-labelledby="tab_info">
        {% include "_tab_info.html" %}
      </div>
      <div class="tab-pane active" id="tab_cmd_output" role="tabpanel" aria-labelledby="tab_cmd_output">
        {% include "_tab_cmd_output.html" %}
      </div>
      <!-- end command output contents -->

    {% else %}{# regular views #}

      {% if view == 'basic' %}
      <!-- basic view contents -->
        <div class="tab-pane active" id="tab_interfaces" role="tabpanel" aria-labelledby="tab_interfaces">
          {% include "_tab_if_basics.html" %}
        </div>
        {% if bulk_edit %}
          <div class="tab-pane" id="tab_bulkedit" role="tabpanel" aria-labelledby="tab_bulkedit">
            {% include "_tab_if_bulkedit.html" %}
          </div>
        {% endif %}
        {% if edit_vlans %}
          <div class="tab-pane" id="tab_edit_vlans" role="tabpanel" aria-labelledby="tab_edit_vlans">
            {% include "_tab_edit_vlans.html" %}
          </div>
        {% endif %}
        <div class="tab-pane" id="tab_info" role="tabpanel" aria-labelledby="tab_info">
          {% include "_tab_info.html" %}
        </div>
      <!-- end basic view contents -->
      {% endif %}

      {% if view == 'arp_lldp' %}
      <!-- arp-lldp contents -->
      <div class="tab-pane" id="tab_interfaces" role="tabpanel" aria-labelledby="tab_interfaces">
          {% include "_tab_if_basics.html" %}
        </div>
        {% if bulk_edit %}
          <div class="tab-pane" id="tab_bulkedit" role="tabpanel" aria-labelledby="tab_bulkedit">
            {% include "_tab_if_bulkedit.html" %}
          </div>
        {% endif %}
        {% if edit_vlans %}
          <div class="tab-pane" id="tab_edit_vlans" role="tabpanel" aria-labelledby="tab_edit_vlans">
            {% include "_tab_edit_vlans.html" %}
          </div>
        {% endif %}
        <div class="tab-pane active" id="tab_arp_lldp" role="tabpanel" aria-labelledby="tab_arp_lldp">
          {% include "_tab_if_arp_lldp.html" %}
        </div>
        <div class="tab-pane" id="tab_info" role="tabpanel" aria-labelledby="tab_info">
          {% include "_tab_info.html" %}
        </div>
      <!-- end arp-lldp contents -->
      {% endif %}

    {% endif %}

    {% if connection.can_run_commands %}
      {% if switch.command_list.global_commands.count %}
        <div class="tab-pane" id="tab_cmd_list" role="tabpanel" aria-labelledby="tab_cmd_list">
          {% include "_tab_cmd_list.html" %}
        </div>
      {% elif request.user.is_staff or request.user.is_superuser %}
        {% if switch.command_list.interface_commands_staff.count or switch.command_list.global_commands_staff.count %}
          <div class="tab-pane" id="tab_cmd_list" role="tabpanel" aria-labelledby="tab_cmd_list">
            {% include "_tab_cmd_list.html" %}
          </div>
        {% endif %}
      {% endif %}
      {% if switch.command_templates.count %}
        <div class="tab-pane" id="tab_cmd_templates" role="tabpanel" aria-labelledby="tab_cmd_templates">
          {% include "_tab_cmd_templates.html" %}
        </div>
      {% endif %}
    {% endif %}

    <!-- logs and warnings for every view -->
    <div class="tab-pane" id="tab_logs" role="tabpanel" aria-labelledby="tab_logs">
      {% include "_tab_logs.html" %}
    </div>

    {% if connection.warnings %}
      <div class="tab-pane" id="tab_warnings" role="tabpanel" aria-labelledby="tab_warnings">
        {% include "_tab_warnings.html" %}
      </div>
    {% endif %}
    <!-- end logs and warnings -->
  </div> {# class tab-content #}
  <!-- end tabs content -->

{% else %} {# devices without interfaces! #}
<!-- DEVICE WITHOUT INTERFACES -->

  <!-- device menu tabs -->
  <ul class="nav nav-tabs">
    {% if cmd and cmd.state == 'run' %}{# command or template has run! #}

      <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
      data-bs-title="General device information, such as OS, etc.">
        {% include "_menu_switch_info.html" with state="" %}
      </li>
      <li  class="nav-item" role="presentation" data-bs-toggle="tooltip"
      data-bs-title="Command output">
        {% include "_menu_command_output.html" with state="active" %}
      </li>

    {% else %}{# just general info, no command or template has run! #}

      <li  class="nav-item" role="presentation" data-bs-toggle="tooltip"
      data-bs-title="General device information, such as OS, etc.">
        {% include "_menu_switch_info.html" with state="active"  %}
      </li>

    {% endif %}

    {% if connection.can_run_commands %}
      {% if switch.command_list.global_commands.count %}
        <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
        data-bs-title="Commands to run on this device">
          {% include "_menu_switch_commands.html" %}
        </li>
      {% elif request.user.is_staff or request.user.is_superuser %}
        {% if switch.command_list.interface_commands_staff.count or switch.command_list.global_commands_staff.count %}
          <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
          data-bs-title="Commands to run on this device">
            {% include "_menu_switch_commands.html" %}
          </li>
        {% endif %}
      {% endif %}
      {% if switch.command_templates.count %}
        <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
        data-bs-title="Command Templates for this device">
          {% include "_menu_command_templates.html" %}
        </li>
      {% endif %}
    {% endif %}

    <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
    data-bs-title="{ settings.RECENT_SWITCH_LOG_COUNT }} most recent OpenL2M activity logs for this device">
      {% include "_menu_logs.html" %}
    </li>

    {% if connection.warnings %}
      <li class="nav-item" role="presentation" data-bs-toggle="tooltip"
      data-bs-title="Warnings for this device">
        {% include "_menu_warnings.html" %}
      </li>
    {% endif %}

  </ul>
  <!-- end device menu tabs -->

  <!-- tabs contents -->
  <div class="tab-content">

    {% if cmd and cmd.state == 'run' %}
      <!-- command run tab contents -->
      <div class="tab-pane" id="tab_info" role="tabpanel" aria-labelledby="tab_info">
        {% include "_tab_info.html" %}
      </div>
      <div class="tab-pane active" id="tab_cmd_output" role="tabpanel" aria-labelledby="tab_cmd_output">
        {% include "_tab_cmd_output.html" %}
      </div>
      <!-- end command run contents -->
    {% else %}
      <!-- regular view tab contents -->
      <div class="tab-pane active" id="tab_info" role="tabpanel" aria-labelledby="tab_info">
        {% include "_tab_info.html" %}
      </div>
      <div class="tab-pane" id="tab_logs" role="tabpanel" aria-labelledby="tab_logs">
          {% include "_tab_logs.html" %}
      </div>
      <!-- end regular view tab contents -->
    {% endif %}

    {% if connection.can_run_commands %}
      <!-- run-command tab contents -->
      {% if switch.command_list.global_commands.count %}
        <div class="tab-pane" id="tab_cmd_list" role="tabpanel" aria-labelledby="tab_cmd_list">
          {% include "_tab_cmd_list.html" %}
        </div>
      {% elif request.user.is_staff or request.user.is_superuser %}
        {% if switch.command_list.interface_commands_staff.count or switch.command_list.global_commands_staff.count %}
          <div class="tab-pane" id="tab_cmd_list" role="tabpanel" aria-labelledby="tab_cmd_list">
            {% include "_tab_cmd_list.html" %}
          </div>
        {% endif %}
      {% endif %}
      {% if switch.command_templates.count %}
        <div class="tab-pane" id="tab_cmd_templates" role="tabpanel" aria-labelledby="tab_cmd_templates">
          {% include "_tab_cmd_templates.html" %}
        </div>
      {% endif %}
      <!-- end run-command tab contents -->
    {% endif %}

    <!-- log and warnings tab contents for evey device -->
    <div class="tab-pane" id="tab_logs" role="tabpanel" aria-labelledby="tab_logs">
      {% include "_tab_logs.html" %}
    </div>

    {% if connection.warnings %}
      <div class="tab-pane" id="tab_warnings" role="tabpanel" aria-labelledby="tab_warnings">
        {% include "_tab_warnings.html" %}
      </div>
    {% endif %}
    <!-- end log and warnings tab contents -->

  </div> {# class tab-content #}
  <!-- end device tabs content -->

{% endif %} {# if connection.show_interfaces #}

</div> {# container-fluid #}
<!-- end device tabs -->


{% endblock %}
