{% extends '_base.html' %}

{% block content %}

{% load helpers %}
{% load static %}

{# generic submit-are-you-sure? function #}
<script type="text/javascript">
    function confirm_change(s) {
       return confirm(s);
    }
</script>

<div class="container">
  {% if not settings.TASKS_ENABLED %}
  <div class="panel panel-warning">
    <div class="panel-heading">
      <strong><i class="fas fa-exclamation-triangle" aria-hidden="true"></i> Tasks are not enabled!</strong>
    </div>
  </div>
  {% elif not task_process_running %}
  <div class="panel panel-warning">
    <div class="panel-heading">
      <strong><i class="fas fa-exclamation-triangle" aria-hidden="true"></i> Task process is not running!</strong>
    </div>
  </div>
  {% endif %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Tasks: {{ tasks.count }}</strong>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-headings">
        <tr>
          <th>When</th>
          <th>Type</th>
          <th>Status</th>
          {% if user.is_superuser or user.is_staff %}
            <th>User</th>
          {% endif %}
          <th>Switch</th>
          <th>Description</th>
        </tr>
        {% for task in tasks %}
          <tr>
            <td>
              {% if task_process_running and task.status == TASK_STATUS_SCHEDULED %}
                <a href="{% url 'switches:task_delete' task.id %}"
                   title="Click here to delete this scheduled task..."
                {% if request.user.profile.are_you_sure %}
                   onclick="return confirm_change('Are you sure you want to DELETE this task?')"
                {% endif %}
                   >
                   <i class="fas fa-trash" aria-hidden="true"></i>
               </a>
              {% endif %}
              {{ task.eta }}
              {% if task_process_running and task.status == TASK_STATUS_RUNNING and request.user.is_superuser %}
                <a href="{% url 'switches:task_terminate' task.id %}"
                 title="Click here to terminate this task if it is hung..."
                {% if request.user.profile.are_you_sure %}
                 onclick="return confirm_change('Are you sure you want to TERMINATE this running task?')"
                {% endif %}
                 >
                 <i class="fas fa-times" aria-hidden="true"></i>
                </a>
              {% endif %}
            </td>
            <td>{{ task.get_type_display }}</td>
            <td>{{ task.get_status_display }}</td>
            {% if user.is_superuser or user.is_staff %}
              <td>{{ task.user }}</td>
            {% endif %}
            <td>{{ task.switch }}</td>
            <td>
              <a href="{% url 'switches:task_details' task.id %}"
                 title="Click here to show the details of this scheduled task...">
                 {{ task.description }}
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}
