{% extends '_base.html' %}

{% block title %}Warning!{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
      <div class="card border-warning">
          <div class="card-header bg-warning">
              <strong>Warning!</strong>
          </div>
          <div class="card-body">
            <p class="card-text">{{ message }}</p>
            {% if switch_id %}
            <p><a href="{% url 'switches:switch_basics' group_id switch_id %}">Go back to device.</a></p>
            {% endif %}
          </div>
      </div>
    </div>
</div>
{% endblock %}
