{% extends '_base.html' %}

{% block title %}Warning!{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
      <div class="card border-warning">
          <div class="card-header bg-warning-subtle">
              <strong>Warning!</strong>
          </div>
          <div class="card-body">
            <p class="card-text">{{ description }}</p>
            {% if switch %}
            <p><a href="{% url 'switches:switch_basics' group.id switch.id %}">Go back to &quot;{{ switch.name }}&quot;</a></p>
            {% endif %}
          </div>
      </div>
    </div>
</div>
{% endblock %}
