{% extends '_base.html' %}
{% load helpers %}

{% block title %}API Token{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <div class="card border-default">
      <div class="card-header bg-default">
        {% if action == "edit" %}
            <strong>Edit your API Token</strong>
        {% else %}
            <strong>Add an API Token</strong>
        {% endif %}
      </div>
      <div class="card-body">
        {% if action == "edit" %}
        <form name="token_edit"
          action="{% url 'users:token_edit' token.id %}"
          method="post"
          >
        {% else%}
          <form name="token_add"
          action="{% url 'users:token_add' %}"
          method="post"
          >
        {% endif %}
        {% csrf_token %}
        <table class="table table-hover table-headings">
          <tbody>
          <tr>
            <th>Token</th>
            {% if action == "add" %}
                <th><input type="text" size=80 name="key" value="{{ token.key }}"
                    data-bs-toggle="tooltip" title="This is your new token!" readonly /></th>
            {% else %}
              {% if settings.ALLOW_TOKEN_RETRIEVAL %}
                <th>{{token.key }}</th>
              {% else %}
                <th>{{token.partial }}</th>
              {% endif %}
            {% endif %}
          </tr>
          <tr>
            <td>Description</td>
            <td><input type="text" size=80 name="description" value="{{ token.description }}"
            data-bs-toggle="tooltip" title="Type a token description here!" /></td>
          </tr>
{% if not user.profile.read_only %}
          <tr>
            <td>Writable</td>
            <td><input type="checkbox" name="write_enabled"
                data-bs-toggle="tooltip" title="Un-check for Read-Only token, or leave checked for Write-Capable!"
                {% if token.write_enabled %}checked{% endif %} /></td>
          </tr>
{% endif %}
          <tr>
            <td>Expires</td>
            <td><input
                id="party"
                type="datetime-local"
                name="expires"
                data-bs-toggle="tooltip" title="Select token expiration, or leave blank for none."
                value="{{ token.expires|date:"Y-m-d\TH:i:s" }}" />{# date:"<format>" outputs ISO format for datetime-local element #}
                  {% if settings.API_MAX_TOKEN_DURATION %}<strong>&nbsp;Token cannot expire more the {{ settings.API_MAX_TOKEN_DURATION }} days into the future!<strong>{% endif %}
            </td>
          </tr>
          <tr>
            <td>Allowed IPs</td>
            <td><input type="text" size=80 name="allowed_ips" value="{{ token.allowed_ips }}"
                data-bs-toggle="tooltip" title="Comma-separated list of allowed IPv4/IPv6 networks in CIDR notation. Leave blank to allow all! E.g. 192.168.1.0/24,2001:db8:1::/64" /></td>
          </tr>
          <tr>
            {% if action == "add" %}
              <td>
                <input type="submit"
                value="Add Token"
                class="btn btn-primary"
                data-bs-toggle="tooltip" title="Click here to add a token!"
                {% if request.user.profile.are_you_sure %}
                onclick="return confirm_change('Are you sure you want add a new token ? If so, make sure you have copied down the token string!')"
                {% endif %}
                >
              </td>
              <td>
                {% if not settings.ALLOW_TOKEN_RETRIEVAL %}
                <strong>Make sure you save this new token!!! This is the only time you will see the full token string!</strong>
                {% endif %}
              </td>
            {% else %}{# edit #}
            <td>
                <input type="submit"
                value="Update Token"
                class="btn btn-primary"
                data-bs-toggle="tooltip" title="Click here to update this token!"
                {% if request.user.profile.are_you_sure %}
                onclick="return confirm_change('Are you sure you want update this token ?')"
                {% endif %}
                >
              </td>
              <td></td>
            {% endif %}
          </tr>
        </form>
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
